extends _layout/layout

block variables
	- var title = 'lug.vn'
	- var bodyclass = 'homepage'

block css

block body 
	include _layout/header
	include _layout/banner
	main
		include _layout/ct-home
	include _layout/footer