extends _layout/layout

block variables
	- var title = 'LUGVN'
	- var bodyclass = 'product-detail-page'

block css

block body 
	include _layout/header
	//- include _layout/banner
	main
		//- .container
		//- include _layout/breadcrumb
		include _layout/ct-thuonghieu
	include _layout/footer