section.bannerwrap.wow.fadeInUp.clearfix
	#rev_slider_202_1_wrapper.rev_slider_wrapper.fullscreen-container
		#rev_slider_202_1.rev_slider.fullscreenbanner(style="display: block")
			ul
				//- SLIDE
				li(data-transition='crossfade' data-thumb='img/banner/1.jpg')
					//- MAIN IMAGE
					img.rev-slidebg(src='img/banner/1.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-bgparallax='5', data-no-retina='')
					//- LAYERS
					.tp-caption.tp-resizem(data-x="['left','left','left','left']", data-hoffset="['70','50','50','40']", data-y="['middle','middle','middle','middle']", data-voffset="['-70','-100','-150','-200']" , data-transform_idle='o:1;', data-transform_in='x:-50px;opacity:0;s:500;e:Power2.easeOut;', data-transform_out='auto:auto;s:500;', data-start='1000', data-splitin='none', data-splitout='none', data-responsive_offset='on') 
						.collection-title Summer
					.tp-caption.tp-resizem(data-x="['left','left','left','left']", data-hoffset="['70','50','50','40']", data-y="['middle','middle','middle','middle']",data-voffset="['0','0','0','0']", data-transform_idle='o:1;', data-transform_in='x:50px;opacity:0;s:500;e:Power2.easeOut;', data-transform_out='auto:auto;s:500;', data-start='1000', data-splitin='none', data-splitout='none', data-responsive_offset='on')
						.collection-name Collection
					.tp-caption.tp-resizem(data-x="['right','right','right','right']", data-hoffset="['70','50','50','40']", data-y="['bottom','bottom','bottom,'bottom']", data-voffset="['-35','1000','-35','-35']", data-transform_idle='o:1;', data-transform_in='x:50px;opacity:0;s:500;e:Power2.easeOut;', data-transform_out='auto:auto;s:500;', data-start='1000', data-splitin='none', data-splitout='none', data-responsive_offset='on')
						.collection-year 2016
				