section.contact-page.clearfix
	.container
		h1.headtitle hệ thống cửa hàng 
			span lug.vn
		.searchplace.clearfix
			select(name="")
				option(value="") Tất cả
			input(type="text", placeholder="Vui lòng nhập địa chỉ hoặc tên cửa hàng")
			button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
		.row.flex.flex-wrap
			.col-xs-12.col-lg-3
				section.placelist.clearfix
					.title Cửa hàng 
						span (15)
					ul.addr-list.clearfix
						li.active
							.place Ba Tháng Hai
							.addr 136 Ba Tháng Hai, Q.10, Hồ Chí Minh, VietNam
							a.phone(href="tel:0838632743") 0838632743
						li 
							.place Ba Tháng Hai
							.addr 136 Ba Tháng Hai, Q.10, Hồ Chí Minh, VietNam
							a.phone(href="tel:0838632743") 0838632743
						li 
							.place Ba Tháng Hai
							.addr 136 Ba Tháng Hai, Q.10, Hồ Chí Minh, VietNam
							a.phone(href="tel:0838632743") 0838632743
						li 
							.place Ba Tháng Hai
							.addr 136 Ba Tháng Hai, Q.10, Hồ Chí Minh, VietNam
							a.phone(href="tel:0838632743") 0838632743
					.pages.clearfix
						ul.pagination
							li.active
								a(href="#") 1
							li 
								a(href="#") 2
							li 
								a(href="#") 3
							li 
								a(href="#") 4
			.col-xs-12.col-lg-9
				section.contact-maps.clearfix
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2915708004452!2d106.6959339143102!3d10.788966092313034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f353540f4cd%3A0x2a02ee7924ddd4c3!2zMTU2IE5ndXnhu4VuIFbEg24gVGjhu6csIMSQYSBLYW8sIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1483545987693', width='100%', height='', frameborder='0', style='border:0', allowfullscreen='')
			.col-xs-12
				section.stores-slide.clearfix
					h3.title Hình cửa hàng
					.slidewrap
						.control
							.prev <i class="fa fa-angle-left" aria-hidden="true"></i>
							.next <i class="fa fa-angle-right" aria-hidden="true"></i>
						.store-img
							.item
								img(src="img/store/1.jpg", alt="")
							.item
								img(src="img/store/1.jpg", alt="")
							.item
								img(src="img/store/1.jpg", alt="")
							.item
								img(src="img/store/1.jpg", alt="")
							.item
								img(src="img/store/1.jpg", alt="")
							.item
								img(src="img/store/1.jpg", alt="")
							.item
								img(src="img/store/1.jpg", alt="")