//- .threesixty.car
	.spinner
		span 0%
	ol.threesixty_images
		li 
			img(src="img/news/1.jpg", alt="")
		li 
			img(src="img/news/2.jpg", alt="")
		li 
			img(src="img/news/3.jpg", alt="")
		li 
			img(src="img/news/4.jpg", alt="")
		li 
			img(src="img/news/1.jpg", alt="")
		li 
			img(src="img/news/2.jpg", alt="")
		li 
			img(src="img/news/3.jpg", alt="")
		li 
			img(src="img/news/4.jpg", alt="")
		li 
			img(src="img/news/1.jpg", alt="")
		li 
			img(src="img/news/2.jpg", alt="")
		li 
			img(src="img/news/3.jpg", alt="")
		li 
			img(src="img/news/4.jpg", alt="")


section.new-product.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-lg-2
				.headtitle.wow.fadeInDown NEW
			.col-xs-12.col-lg-10
				.row.flex.flex-wrap
					.col-xs-12.col-md-5.col-lg-4.nopadding
						section.slidewrap.clearfix.wow.fadeInLeft
							#slide1.newproduct-slide.product-slide
								.item
									a(href="#")
										img(src="img/home/s1.jpg", alt="")
								.item
									a(href="#")
										img(src="img/home/s1.jpg", alt="")
								.item
									a(href="#")
										img(src="img/home/s1.jpg", alt="")
					.col-xs-12.col-md-7.col-lg-8.nopadding
						section.slide-caption.clearfix.wow.fadeInRight
							h3.collection-title New collections
							h1.collection-name President
					.col-xs-12.col-md-6.col-lg-6.nopadding.text
						section.slide-caption.slide-caption2.clearfix.wow.fadeInLeft
							h3.collection-title New collections
							h2.collection-name Santa barbara
					.col-xs-12.col-md-6.col-lg-6.nopadding.slide
						section.slidewrap.clearfix.wow.fadeInRight
							#slide2.newproduct-slide.product-slide
								.item
									a(href="#")
										img(src="img/home/s2.jpg", alt="")
								.item
									a(href="#")
										img(src="img/home/s2.jpg", alt="")
								.item
									a(href="#")
										img(src="img/home/s2.jpg", alt="")
			.col-xs-12
				section.product-row.clearfix
					.flex.flex-wrap
						.col-xs-12.col-md-6.nopadding
							section.slidewrap.clearfix.wow.fadeInLeft
								#slide3.newproduct-slide.product-slide
									.item
										a(href="#")
											img(src="img/home/s3.jpg", alt="")
									.item
										a(href="#")
											img(src="img/home/s3.jpg", alt="")
									.item
										a(href="#")
											img(src="img/home/s3.jpg", alt="")
						.col-xs-12.col-md-6.nopadding
							section.slide-caption.clearfix.wow.fadeInRight
								h3.collection-title New collections
								h1.collection-name Arnold palmer
							section.intro-caption.text-xs-center.clearfix.wow.fadeInUp
								.title Fast and 
									br
									|free delivery
								.des We provide you with fast and free delivery regardless of the product size and value.
section.home-intro.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-10.offset-md-1
				.title.wow.fadeInUp brand collections
				.des.wow.fadeInUp A room filled with things can tell you a lot. A room with just a few can tell you more. Each aspect- a chair, a texture, a light- is just how we intended it to be.
section.home-product.clearfix
	.container
		.brand-slick.text-xs-center.wow.fadeInUp
			.slidewrap.clearfix
				.control
					#brand-prev.prev
					#brand-next.next
				.brand-slide.clearfix
					.item
						.brand-logo
							img(src="img/brand/1.png", alt="")
					.item
						.brand-logo
							img(src="img/brand/2.png", alt="")
					.item
						.brand-logo
							img(src="img/brand/3.png", alt="")
					.item
						.brand-logo
							img(src="img/brand/4.png", alt="")
					.item
						.brand-logo
							img(src="img/brand/5.png", alt="")
					.item
						.brand-logo
							img(src="img/brand/6.png", alt="")
					.item
						.brand-logo
							img(src="img/brand/7.png", alt="")
					.item
						.brand-logo
							img(src="img/brand/1.png", alt="")
		.slidewrap.clearfix
			#big-slide.bigproduct-slide.clearfix
				.item
					.home-product-list
						.row.flex.flex-wrap
							.col-xs-12.col-lg-6
								.product-col.big
									figure
										a.product-img(href="#")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#") VALI KÉO VICTORINOX 601291_28"
											.product-price
												.new 2.500.000 đ
												.old 3.500.000 đ
											a.btn-buy(data-toggle="tooltip" data-placement="left" title="Mua hàng" href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
							.col-xs-12.col-lg-6
								.row.flex.flex-wrap
									.col-xs-12.col-sm-6
										.product-col
											figure
												a.product-img(href="#")
													img(src="img/product/1.png", alt="")
												figcaption
													h3.product-name
														a(href="#") VALI KÉO VICTORINOX 601291_28"
													.product-price
														.new 2.500.000 đ
														.old 3.500.000 đ
													a.btn-buy(data-toggle="tooltip" data-placement="left" title="Mua hàng" href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.col-xs-12.col-sm-6
										.product-col
											figure
												a.product-img(href="#")
													img(src="img/product/1.png", alt="")
												figcaption
													h3.product-name
														a(href="#") VALI KÉO VICTORINOX 601291_28"
													.product-price
														.new 2.500.000 đ
														.old 3.500.000 đ
													a.btn-buy(data-toggle="tooltip" data-placement="left" title="Mua hàng" href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.col-xs-12.col-sm-6
										.product-col
											figure
												a.product-img(href="#")
													img(src="img/product/1.png", alt="")
												figcaption
													h3.product-name
														a(href="#") VALI KÉO VICTORINOX 601291_28"
													.product-price
														.new 2.500.000 đ
														.old 3.500.000 đ
													a.btn-buy(data-toggle="tooltip" data-placement="left" title="Mua hàng" href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.col-xs-12.col-sm-6
										.product-col
											figure
												a.product-img(href="#")
													img(src="img/product/1.png", alt="")
												figcaption
													h3.product-name
														a(href="#") VALI KÉO VICTORINOX 601291_28"
													.product-price
														.new 2.500.000 đ
														.old 3.500.000 đ
													a.btn-buy(data-toggle="tooltip" data-placement="left" title="Mua hàng" href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
				.item
				.item
				.item
				.item
				.item
				.item
				.item
				
section.home-video.clearfix
	.container
		iframe.wow.zoomIn(width="100%" height="650" src="https://www.youtube.com/embed/bLE2zdk11Gg" frameborder="0" allowfullscreen)
section.home-intro.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-10.offset-md-1
				.title.wow.fadeInUp new collection
				.des.wow.fadeInUp A room filled with things can tell you a lot. A room with just a few can tell you more. Each aspect- a chair, a texture, a light- is just how we intended it to be.
				a.link.wow.fadeInUp(href="#") shop now
section.home-brand.clearfix
	.container
		.slidewrap.clearfix.wow.fadeInUp
			#slide4.category-slide.clearfix
				.item
					.row.flex.flex-wrap
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br1.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br2.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br3.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br4.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br5.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br6.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
				.item
					.row.flex.flex-wrap
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br1.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br2.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br3.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br4.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br5.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br6.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
				.item
					.row.flex.flex-wrap
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br1.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br2.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br3.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br4.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br5.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
						.col-xs-12.col-md-6
							.category-col
								.category.clearfix
									figure
										a.category-img(href="#")
											img(src="img/home/br6.png", alt="")
										figcaption
											.category-name
												a(href="#") Balo & Túi Xách Mi-Pac
section.home-intro.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-10.offset-md-1
				.title.wow.fadeInUp instagram collection
				.des.wow.fadeInUp A room filled with things can tell you a lot. A room with just a few can tell you more. Each aspect- a chair, a texture, a light- is just how we intended it to be.
				a.link.wow.fadeInUp(href="#") shop now
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog(role='document')
	.insta-popup
		button.close.btn-closepopup(type='button', data-dismiss='modal', aria-label='Close')
			//- span(aria-hidden='true') ×
		.product-col
			figure
				a.product-img(href="#")
					img(src="img/instagram/popup1.jpg", alt="")
				figcaption
					.author.clearfix
						.img
							img(src="img/instagram/author.jpg", alt="")
						.detail.clearfix
							.name @tina_teaa
							time days 
		.slide-col.clearfix
			.slidewrap
				#ver-prev.prev <i class="fa fa-angle-up" aria-hidden="true"></i>
				.ver-slide.clearfix
					.item
						.product.clearfix
							figure
								a.product-img(href="#")
									img(src="img/instagram/pr1.jpg", alt="")
								figcaption
									h3.product-name Pocket Shirt Dress (Similar style)
									a.link.shopit SHOP
					.item
						.product.clearfix
							figure
								a.product-img(href="#")
									img(src="img/instagram/pr2.jpg", alt="")
								figcaption
									h3.product-name Pocket Shirt Dress (Similar style)
									a.link.shopit SHOP
					.item
						.product.clearfix
							figure
								a.product-img(href="#")
									img(src="img/instagram/pr2.jpg", alt="")
								figcaption
									h3.product-name Pocket Shirt Dress (Similar style)
									a.link.shopit SHOP
					.item
						.product.clearfix
							figure
								a.product-img(href="#")
									img(src="img/instagram/pr2.jpg", alt="")
								figcaption
									h3.product-name Pocket Shirt Dress (Similar style)
									a.link.shopit SHOP
				#ver-next.next <i class="fa fa-angle-down" aria-hidden="true"></i>
			.social.clearfix
				a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-pinterest" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
section.home-instagram.clearfix
	.album-list.flex.flex-wrap.clearfix
		.album-col.flex.flex-wrap
			.album.big.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/1.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow( data-toggle='modal', data-target='#myModal') shop now

		.album-col.flex.flex-wrap
			.album.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/2.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow shop now
			.album.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/3.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow shop now
			.album.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/4.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow shop now
			.album.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/5.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow shop now
		.album-col.flex.flex-wrap
			.album.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/6.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow shop now
			.album.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/7.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow shop now
			.album.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/8.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow shop now
			.album.wow.zoomIn
				figure
					a.album-img(href="#")
						img(src="img/instagram/9.png", alt="")
					figcaption
						.shopping
							<i class="fa fa-instagram" aria-hidden="true"></i>
							a.link.shopnow shop now
#countdownModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='countdownModal', aria-hidden='true')
	.modal-dialog(role='document')
	.upcoming-popup.clearfix
		button.close.btn-closepopup(type='button', data-dismiss='modal', aria-label='Close')
		.upcoming-time <i class="fa fa-clock-o" aria-hidden="true"></i> Sẽ diễn ra trong
			time.countdown(data-countdown="2017/06/06")
		.product.clearfix
			figure
				.product-img
					img(src="img/sale/popup1.jpg", alt="")
				figcaption
					h3.product-name Mỹ Phẩm Secret Key, Aston Nature, Mediaheal...
					.product-des Bí quyết làm đẹp của phụ nữ Hàn Quốc.
section.home-upcoming.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-10.offset-md-1
				.title.wow.fadeInUp upcoming
				.des.wow.fadeInUp A room filled with things can tell you a lot. A room with just a few can tell you more. Each aspect- a chair, a texture, a light- is just how we intended it to be.
		.slidewrap.clearfix.wow.fadeInUp
			#slide5.upcoming-slide.clearfix
				.item
					.upcoming-col
						figure
							a.upcoming-img(href="#")
								img(src="img/sale/1.png", alt="")
							figcaption
								.countdown(data-countdown="2017/06/06")
								h3.upcoming-name Vali lusetti 1447
								.start bắt đầu ngày 11/02/2016
								time 09:00 am
								.hvr-shutter-out-horizontal.link.viewupcoming(data-toggle='modal', data-target='#countdownModal') View
				.item
					.upcoming-col
						figure
							a.upcoming-img(href="#")
								img(src="img/sale/2.png", alt="")
							figcaption
								.countdown(data-countdown="2017/01/21")
								h3.upcoming-name Vali lusetti 1447
								.start bắt đầu ngày 11/02/2016
								time 09:00 am
								.hvr-shutter-out-horizontal.link.viewupcoming View
				.item
					.upcoming-col
						figure
							a.upcoming-img(href="#")
								img(src="img/sale/3.png", alt="")
							figcaption
								.countdown(data-countdown="2017/05/19")
								h3.upcoming-name Vali lusetti 1447
								.start bắt đầu ngày 11/02/2016
								time 09:00 am
								.hvr-shutter-out-horizontal.link.viewupcoming View
				.item
					.upcoming-col
						figure
							a.upcoming-img(href="#")
								img(src="img/sale/1.png", alt="")
							figcaption
								.countdown(data-countdown="2017/05/19")
								h3.upcoming-name Vali lusetti 1447
								.start bắt đầu ngày 11/02/2016
								time 09:00 am
								.hvr-shutter-out-horizontal.link.viewupcoming View
				.item
					.upcoming-col
						figure
							a.upcoming-img(href="#")
								img(src="img/sale/2.png", alt="")
							figcaption
								.countdown(data-countdown="2017/01/21")
								h3.upcoming-name Vali lusetti 1447
								.start bắt đầu ngày 11/02/2016
								time 09:00 am
								.hvr-shutter-out-horizontal.link.viewupcoming View
				.item
					.upcoming-col
						figure
							a.upcoming-img(href="#")
								img(src="img/sale/3.png", alt="")
							figcaption
								.countdown(data-countdown="2017/05/19")
								h3.upcoming-name Vali lusetti 1447
								.start bắt đầu ngày 11/02/2016
								time 09:00 am
								.hvr-shutter-out-horizontal.link.viewupcoming View
				.item
					.upcoming-col
						figure
							a.upcoming-img(href="#")
								img(src="img/sale/1.png", alt="")
							figcaption
								.countdown(data-countdown="2017/05/19")
								h3.upcoming-name Vali lusetti 1447
								.start bắt đầu ngày 11/02/2016
								time 09:00 am
								.hvr-shutter-out-horizontal.link.viewupcoming View
				.item
					.upcoming-col
						figure
							a.upcoming-img(href="#")
								img(src="img/sale/2.png", alt="")
							figcaption
								.countdown(data-countdown="2017/01/21")
								h3.upcoming-name Vali lusetti 1447
								.start bắt đầu ngày 11/02/2016
								time 09:00 am
								.hvr-shutter-out-horizontal.link.viewupcoming View

section.home-news.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-10.offset-md-1
				.title.wow.fadeInUp new’s
				.des.wow.fadeInUp A room filled with things can tell you a lot. A room with just a few can tell you more. Each aspect- a chair, a texture, a light- is just how we intended it to be.
				a.link.wow.fadeInUp(href="#") ALL POST
		section.news-list.clearfix
			.bricklayer.clearfix
				.item
					article.news-col.clearfix.wow.fadeInUp
						figure
							a.news-img(href="#")
								img(src="img/news/1.jpg", alt="alt")
								.play
							figcaption
								.news-type <i class="fa fa-video-camera" aria-hidden="true"></i> Video
								h3.news-name
									a(href="#") New York City Travel Guide
								.news-info
									time July 2, 2016 at 4:10pm
									span.author Jason Banks
									span.cmt-amount 2 Comments
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iste laborum esse aliquam maxime natus asperiores sit pariatur qui commodi. Esse blanditiis aliquid aut perspiciatis ut nemo a reprehenderit, itaque id, iure numquam maiores, expedita labore placeat cumque, incidunt! Alias accusantium, soluta. Molestiae, quisquam, animi. Minima, eligendi tempora. Id, ea!
				.item
					article.news-col.clearfix.wow.fadeInUp
						figure
							a.news-img(href="#")
								img(src="img/news/2.jpg", alt="alt")
							figcaption
								.news-type <i class="fa fa-file-image-o" aria-hidden="true"></i> Photos
								h3.news-name
									a(href="#") Visiting Paris on a Budget
								.news-info
									time July 2, 2016 at 4:10pm
									span.author Jason Banks
									span.cmt-amount 2 Comments
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iste laborum esse aliquam maxime natus asperiores sit pariatur qui commodi. Esse blanditiis aliquid aut perspiciatis ut nemo a reprehenderit, itaque id, iure numquam maiores, expedita labore placeat cumque, incidunt! Alias accusantium, soluta. Molestiae, quisquam, animi. Minima, eligendi tempora. Id, ea!
				.item
					article.news-col.clearfix.wow.fadeInUp
						figure
							a.news-img(href="#")
								img(src="img/news/3.jpg", alt="alt")
							figcaption
								.news-type <i class="fa fa-file-text" aria-hidden="true"></i> Article
								h3.news-name
									a(href="#") How to Make Travel Videos
								.news-info
									time July 2, 2016 at 4:10pm
									span.author Jason Banks
									span.cmt-amount 2 Comments
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iste laborum esse aliquam maxime natus asperiores sit pariatur qui commodi. Esse blanditiis aliquid aut perspiciatis ut nemo a reprehenderit, itaque id, iure numquam maiores, expedita labore placeat cumque, incidunt! Alias accusantium, soluta. Molestiae, quisquam, animi. Minima, eligendi tempora. Id, ea!
				.item
					article.news-col.clearfix.wow.fadeInUp
						figure
							a.news-img(href="#")
								img(src="img/news/4.jpg", alt="alt")
							figcaption
								.news-type <i class="fa fa-file-text" aria-hidden="true"></i> Article
								h3.news-name
									a(href="#") 9 Ways to Become a Successful Travel Blogger
								.news-info
									time July 2, 2016 at 4:10pm
									span.author Jason Banks
									span.cmt-amount 2 Comments
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iste laborum esse aliquam maxime natus asperiores sit pariatur qui commodi. Esse blanditiis aliquid aut perspiciatis ut nemo a reprehenderit, itaque id, iure numquam maiores, expedita labore placeat cumque, incidunt! Alias accusantium, soluta. Molestiae, quisquam, animi. Minima, eligendi tempora. Id, ea!
				.item
					article.news-col.clearfix.wow.fadeInUp
						figure
							a.news-img(href="#")
								img(src="img/news/5.jpg", alt="alt")
							figcaption
								.news-type <i class="fa fa-file-image-o" aria-hidden="true"></i> Photos
								h3.news-name
									a(href="#") How These 5 People Found The Path to Their Dream Trip
								.news-info
									time July 2, 2016 at 4:10pm
									span.author Jason Banks
									span.cmt-amount 2 Comments
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iste laborum esse aliquam maxime natus asperiores sit pariatur qui commodi. Esse blanditiis aliquid aut perspiciatis ut nemo a reprehenderit, itaque id, iure numquam maiores, expedita labore placeat cumque, incidunt! Alias accusantium, soluta. Molestiae, quisquam, animi. Minima, eligendi tempora. Id, ea!
				.item
					article.news-col.clearfix.wow.fadeInUp
						figure
							a.news-img(href="#")
								img(src="img/news/6.jpg", alt="alt")
							figcaption
								.news-type <i class="fa fa-file-text" aria-hidden="true"></i> Article
								h3.news-name
									a(href="#") The Ultimate Packing List For Female Travelers
								.news-info
									time July 2, 2016 at 4:10pm
									span.author Jason Banks
									span.cmt-amount 2 Comments
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iste laborum esse aliquam maxime natus asperiores sit pariatur qui commodi. Esse blanditiis aliquid aut perspiciatis ut nemo a reprehenderit, itaque id, iure numquam maiores, expedita labore placeat cumque, incidunt! Alias accusantium, soluta. Molestiae, quisquam, animi. Minima, eligendi tempora. Id, ea!
