section.system-page
	.system-feature
		.container
			.row
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.icon
								img(src="img/icon/stores_03.png", alt="")
							figcaption
								.number 
									.counter 68
								.text Cửa hàng trên toàn quốc
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.icon
								img(src="img/icon/stores_05.png", alt="")
							figcaption
								.number Khai trương
								.text Luôn có khuyến mãi
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.icon
								img(src="img/icon/stores_07.png", alt="")
							figcaption
								.number 
									.counter 10000
								.text Phụ nữ được phục vụ mỗi ngày
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.icon
								img(src="img/icon/stores_09.png", alt="")
							figcaption
								.number 08:30 - 21:30
								.text Mỗi ngày cả ngày lễ & Chủ nhật
	.container
		.system-content
			.row
				.col-12.col-lg-8
					.system-slide
						.item
							.img
								img(src="img/banner/05.jpg", alt="")
						.item
							.img
								img(src="img/banner/05.jpg", alt="")
						.item
							.img
								img(src="img/banner/05.jpg", alt="")
						.item
							.img
								img(src="img/banner/05.jpg", alt="")
						.item
							.img
								img(src="img/banner/05.jpg", alt="")
				.col-12.col-lg-4
					.content
						p LUG.vn ra đời với mục tiêu tạo ra những trải nghiệm mua sắm vali trực tuyến tuyệt vời, luôn nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ. Bên cạnh đó cùng là những sản phẩm đến từ các thương hiệu quốc tế độc quyền chỉ có duy nhất tại LUG.
						p Không còn phải tốn thời gian đi xa đến cửa tiệm, lo lắng kẹt xe, xếp hàng dài chờ đợi! Giờ đây, bạn có thể mua sắm bất cứ khi nào, ở bất cứ đâu trên máy tính và điện thoại di động của mình. Với dịch vụ chuyển hàng nhanh chóng và đáng tin cậy, bạn chỉ cần ngồi thư giãn tại nhà và món hàng sẽ được giao đến tận nơi trên khắp mọi miền đất nước.
						p Qua quá trình phát triển, LUG đã và đang dần khẳng định vị trí của mình trong lòng khách hàng với đội ngũ chăm sóc khách hàng đầy tận tình và chu đáo phục vụ 24/7 chắc chắn sẽ làm bạn vô cùng hài lòng.
						p LUG đang nỗ lực từng ngày với từng sản phẩm vali mà mình cung cấp với mục tiêu bảo vệ quyền lợi của khách hàng, tránh tối đa mọi rủi ro khi mua sắm. Sản phẩm chất lượng luôn là tiêu chí đầu tiên LUG đặt ra, làm cốt lõi cho sự phát triển của mình.
		.system-star
			.item
				figure
					.item-img
						img(src="img/store/s1.jpg", alt="")
					figcaption Diễn viên bảo thanh
			.item
				figure
					.item-img
						img(src="img/store/s1.jpg", alt="")
					figcaption Diễn viên bảo thanh
			.item
				figure
					.item-img
						img(src="img/store/s1.jpg", alt="")
					figcaption Diễn viên bảo thanh
			.item
				figure
					.item-img
						img(src="img/store/s1.jpg", alt="")
					figcaption Diễn viên bảo thanh
			.item
				figure
					.item-img
						img(src="img/store/s1.jpg", alt="")
					figcaption Diễn viên bảo thanh
	nav.system-category
		.container
			.category
				a(href="#!")
					.icon
						img(src="img/icon/s1.png", alt="")
					.text Vali
				a(href="#!")
					.icon
						img(src="img/icon/s2.png", alt="")
					.text Vali
				a(href="#!")
					.icon
						img(src="img/icon/s1.png", alt="")
					.text Vali
				a(href="#!")
					.icon
						img(src="img/icon/s2.png", alt="")
					.text Vali
				a(href="#!")
					.icon
						img(src="img/icon/s1.png", alt="")
					.text Vali