section.promotion-page.clearfix
	.promotion-detail-banner
		.banner-img
			img(src="img/banner/adv2.jpg", alt="")
	section.promotion-wrap.clearfix
		.container
			h1.page-title.text-center Sản phẩm khuyến mãi
			.page-des.text-center Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam dolorem sapiente labore perspiciatis commodi aperiam neque distinctio enim fugit, cumque odit optio earum, non exercitationem, quisquam deleniti voluptates accusamus totam.
			.row
				.col-12.col-lg-8
					.promotion-banner-wrap
						.promotion-banner-slide
							.item
								a.img(href="#!")
									img(src="img/banner/sale1.gif", alt="")
							.item
								a.img(href="#!")
									img(src="img/banner/sale1.jpg", alt="")
							.item
								a.img(href="#!")
									img(src="img/banner/sale2.jpg", alt="")
							.item
								a.img(href="#!")
									img(src="img/banner/sale3.jpg", alt="")
							.item
								a.img(href="#!")
									img(src="img/banner/sale4.jpg", alt="")
							.item
								a.img(href="#!")
									img(src="img/banner/sale5.jpg", alt="")
						.promotion-banner-nav
							.item
								.banner-title Galaxy Note 8 Trả Góp 0% Tặng Gear VR
							.item
								.banner-title Kỷ nguyên màn hình tràn, quà ngập tràn
							.item
								.banner-title Sony Xperia Trả Góp 0% voucher lên đến 1 triệu
							.item
								.banner-title Lễ hội trả góp 0% duyệt nhanh 10 phút
							.item
								.banner-title Lễ hội Phụ Kiện giảm đến 49%
							.item
								.banner-title Sắm Motorola Rinh Quà Chất
				.col-12.col-lg-4
					.Module-269
						.promotion-news
							h4.module-title Tin khuyến mãi
							.post-list
								.post
									figure
										a.post-img(href="#!")
											img(src="img/news/pr1.jpg", alt="")
										figcaption
											h3.post-name
												a(href="#!") Mẹo làm tuyết rơi ngay trên màn hình điện thoại để chào đón giáng sinh
											time 32 phút trước
								.post
									figure
										a.post-img(href="#!")
											img(src="img/news/pr2.jpg", alt="")
										figcaption
											h3.post-name
												a(href="#!") Top ứng dụng, game tính phí đang được FREE cho iPhone, iPad (13/12)
											time 32 phút trước
								.post
									figure
										a.post-img(href="#!")
											img(src="img/news/pr3.jpg", alt="")
										figcaption
											h3.post-name
												a(href="#!") BGR: Face ID sẽ khiến những hãng khác phải học theo Apple một lần nữa
											time 32 phút trước
			.promotion-product
				.row
					article.col-12.col-md-6.col-lg-4
						.product-card
							figure
								.detail-popup
									.promotion.tragop Trả góp 0%
									h3.product-name
										a(href="#!") Samsung Galaxy S8 Plus
									.product-price 
										span.new 20.490.000₫
									.product-detail
										.popup-promotion
											ul
												li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
												li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
										span Màn hình: 6.2, Quad HD (2K)
										span HĐH: Android 7.0
										span CPU: Exynos 8895 8 nhân
										span RAM: 4 GB, ROM: 64 GB
										span Camera: 12 MP, Selfie: 8 MP
										span PIN: 3500 mAh
									a.btn-compare(href="#!") So sánh

								a.product-img(href="#!")
									img(src="img/product/bn1.jpg", alt="")
								figcaption
									.promotion.tragop Trả góp 0%
									h3.product-name
										a(href="#!") Samsung Galaxy S8 Plus
									.product-price 
										span.new 20.490.000₫
									.product-detail
										.popup-promotion
											ul
												li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
												li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
					article.col-12.col-md-6.col-lg-4
						.product-card
							figure
								a.product-img(href="#!")
									img(src="img/product/bn1.jpg", alt="")
								figcaption
									.promotion.moi Mới ra mắt
									h3.product-name
										a(href="#!") Samsung Galaxy S8 Plus
									.product-price 
										span.new 20.490.000₫
					article.col-12.col-md-6.col-lg-4
						.product-card
							figure
								a.product-img(href="#!")
									img(src="img/product/bn1.jpg", alt="")
								figcaption
									.promotion.tragop Trả góp 0%
									h3.product-name
										a(href="#!") Samsung Galaxy S8 Plus
									.product-price 
										span.new 20.490.000₫

			.promotion-category
				h2.page-title.text-center Các chương trình khuyến mãi khác
				.category-list
					.row
						article.col-12.col-md-4
							a.cate-img(href="#!")
								img(src="img/promotion/bn1.png", alt="")
						article.col-12.col-md-4
							a.cate-img(href="#!")
								img(src="img/promotion/bn2.png", alt="")
						article.col-12.col-md-4
							a.cate-img(href="#!")
								img(src="img/promotion/bn3.png", alt="")
						article.col-12.col-md-4
							a.cate-img(href="#!")
								img(src="img/promotion/bn4.png", alt="")
						article.col-12.col-md-4
							a.cate-img(href="#!")
								img(src="img/promotion/bn5.png", alt="")
						article.col-12.col-md-4
							a.cate-img(href="#!")
								img(src="img/promotion/bn6.png", alt="")