.container
	section.promotion-page.clearfix
		.promotion-banner
			.row
				.col-12.col-md-4
					a.banner-img.big(href="#!")
						img(src="img/promotion/bn1.jpg", alt="")
				.col-12.col-md-4
					a.banner-img.big(href="#!")
						img(src="img/promotion/bn2.jpg", alt="")
				.col-12.col-md-4
					.row
						.col-6
							a.banner-img(href="#!")
								img(src="img/promotion/bn3.jpg", alt="")
						.col-6
							a.banner-img(href="#!")
								img(src="img/promotion/bn4.jpg", alt="")
						.col-6
							a.banner-img(href="#!")
								img(src="img/promotion/bn5.jpg", alt="")
						.col-6
							a.banner-img(href="#!")
								img(src="img/promotion/bn6.jpg", alt="")
						.col-12
							a.banner-img(href="#!")
								img(src="img/promotion/bn7.jpg", alt="")
		.promotion-category
			.page-title.text-center Danh mục khuyến mãi
			.promotion-list
				.row
					.col-12.col-xl-6
						.promotion-group
							.promotion-intro
								figure
									a.promotion-img(href="#!")
										img(src="img/brand/bn1.jpg", alt="")
									figcaption
										.promotion-logo
											img(src="img/brand/1.jpg", alt="")
										.promotion-name
											a(href="#!") President
										.promotion-cate Phụ kiện - Balo - Vali
							.promotion-product
								.row.no-gutters
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
					.col-12.col-xl-6
						.promotion-group
							.promotion-intro
								figure
									a.promotion-img(href="#!")
										img(src="img/brand/bn1.jpg", alt="")
									figcaption
										.promotion-logo
											img(src="img/brand/1.jpg", alt="")
										.promotion-name
											a(href="#!") President
										.promotion-cate Phụ kiện - Balo - Vali
							.promotion-product
								.row.no-gutters
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
					.col-12.col-xl-6
						.promotion-group
							.promotion-intro
								figure
									a.promotion-img(href="#!")
										img(src="img/brand/bn1.jpg", alt="")
									figcaption
										.promotion-logo
											img(src="img/brand/1.jpg", alt="")
										.promotion-name
											a(href="#!") President
										.promotion-cate Phụ kiện - Balo - Vali
							.promotion-product
								.row.no-gutters
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
					.col-12.col-xl-6
						.promotion-group
							.promotion-intro
								figure
									a.promotion-img(href="#!")
										img(src="img/brand/bn1.jpg", alt="")
									figcaption
										.promotion-logo
											img(src="img/brand/1.jpg", alt="")
										.promotion-name
											a(href="#!") President
										.promotion-cate Phụ kiện - Balo - Vali
							.promotion-product
								.row.no-gutters
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
									article.col-6.col-sm-4.col-md-2
										.product-card
											figure
												a.product-img(href="#!")
													img(src="img/product/pr1.jpg", alt="")
			.category-list
				.row
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn1.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn2.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn3.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn4.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn5.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn6.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn7.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn8.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn9.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn10.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn11.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn12.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn13.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn14.png", alt="")
					article.col-12.col-md-4
						a.cate-img(href="#!")
							img(src="img/promotion/bn15.png", alt="")