section#landing-0.landing-section.product-section.clearfix
	.landing-bg
		img(src="img/landing/bn1.jpg", alt="")
	.container
		.row
			.col-12.col-lg-6
				.landing-media
					.landing-product-img
						img(src="img/landing/pr1.png", alt="")
					.landing-slide
						a.picture(href="img/landing/pr1.png" data-fancybox="landing-img")
							img(src="img/landing/pr1.png", alt="")
						a.picture(href="img/landing/pr2.png" data-fancybox="landing-img")
							img(src="img/landing/pr2.png", alt="")
						a.picture(href="img/landing/pr3.png" data-fancybox="landing-img")
							img(src="img/landing/pr3.png", alt="")
						a.btn-video(href="https://www.youtube.com/watch?v=JAs91fFwZc0&t=5s" data-fancybox="video")
							img(src="img/icon/video.png", alt="")
						a.btn-view360(href="javascript:;" data-fancybox="view360" data-src="#view360")
							img(src="img/icon/view360.png", alt="")
						#view360
							.view360-popup
								img(src="img/view360.png", alt="")
			.col-12.col-lg-6
				.landing-intro
					.product-id ID: 1305301
					h2.product-name Vali kéo Conwood
					.product-brand Thương hiệu: 
						a(href="#!") Conwood
					.product-price.clearfix
						.new 7.990.000đ
						.old 10.000.000đ
					.product-option.clearfix
						.option-group
							.label Màu sắc:
							ul
								li
									a.active(href="#")
										.color
											span(style="background: blue")
								li
									a(href="#")
										.color
											span(style="background: red")
								li
									a(href="#")
										.color
											span(style="background: silver")
					.product-gift
						.title Khuyến mãi áp dụng đến hết 30/11
						ul.gift-list
							li.gift Cơ hội trúng xe SH150i (áp dụng Tp.HCM). 
								a.link(href="#!") Chi tiết
							li.gift Phiếu mua hàng Samsung trị giá 250.000đ. 
								a.link(href="#!") Chi tiết
						.notice không áp dụng khi mua trả góp
					.btn-wrap.clearfix
						a.btn-buy(href="#!" data-toggle='modal', data-target='#buymodal') Mua ngay
					
					.product-overview.clearfix
						.content
							ul
								li Hỗ trợ trả góp 0%: 6 tháng, 12 tháng
								li Bảo hành chính hãng 36 tháng
								li Giao hàng tận nơi miễn phí trong 30 phút.
								li 1 đổi 1 trong 1 tháng với sản phẩm lỗi.
#buymodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Modal title
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				| ...
			.modal-footer
				button.btn.btn-secondary(type='button', data-dismiss='modal') Close
				button.btn.btn-primary(type='button') Save changes

//- .product-info.clearfix.wow.fadeInRight
			.product-option.clearfix
				.option-group
					.label Màu sắc:
					ul
						li
							a.active(href="#")
								.color
									span(style="background: blue")
						li
							a(href="#")
								.color
									span(style="background: red")
						li
							a.disabled(href="#")
								.color
									span(style="background: silver")
				.option-group
					.label Kích thước:
					ul
						li
							a.active(href="#")
								.size 26
						li
							a(href="#")
								.size 28
						li
							a.disabled(href="#")
								.size 30
			.product-gift
				.title Khuyến mãi áp dụng đến hết 30/11
				ul.gift-list
					li.gift Cơ hội trúng xe SH150i (áp dụng Tp.HCM). 
						a.link(href="#!") Chi tiết
					li.gift Phiếu mua hàng Samsung trị giá 250.000đ. 
						a.link(href="#!") Chi tiết
					.notice không áp dụng khi mua trả góp
			//- .product-amount
				.input-number
					.btn-spin.btn-dec -
					input(type="text" value="1")
					.btn-spin.btn-inc +
			.btn-wrap.clearfix
				a.btn-buy(href="#!") Mua ngay
				a.btn-wishlist(href="#!" data-toggle="tooltip" data-placement="right" title="Yêu thích") <i class="fa fa-heart" aria-hidden="true"></i>
				a.buy-support(href="#!") Hướng dẫn mua hàng
			.product-overview.clearfix
				.content
					ul
						li Hỗ trợ trả góp 0%: 6 tháng, 12 tháng
						li Bảo hành chính hãng 36 tháng
						li Giao hàng tận nơi miễn phí trong 30 phút.
						li 1 đổi 1 trong 1 tháng với sản phẩm lỗi.
			.share
				.label Share:
				a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
				a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
section#landing-1.landing-section.content-section.clearfix
	.container
		h3.landing-title.text-center ELLE EL31192 – PHONG CÁCH THỜI TRANG HÀO NHOÁNG
		.content.text-center
			p Được đánh giá là một trong những tuyệt tác của thương hiệu Elle, EL31192 phát huy được những ưu điểm của thương hiệu Pháp này khi kết hợp hài hào giữa nét cổ điển và hiện đại. Ngoài ra, sản phẩm thu hút người nhìn bởi họa tiết zigzag hình khối, vân nổi sắp xếp hợp mắt người nhìn, tạo nên phong cách đậm chất thời trang hào nhoáng.
		.btn-wrap.text-center
			a.btn-download(href="#!") Tải về catalogue
		.product-img1
			img(src="img/landing/pr-img.png", alt="")
		.content.text-center
			p Được đánh giá là một trong những tuyệt tác của thương hiệu Elle, EL31192 phát huy được những ưu điểm của thương hiệu Pháp này khi kết hợp hài hào giữa nét cổ điển và hiện đại. Ngoài ra, sản phẩm thu hút người nhìn bởi họa tiết zigzag hình khối, vân nổi sắp xếp hợp mắt người nhìn, tạo nên phong cách đậm chất thời trang hào nhoáng.
			p Vali chính hãng EL31192 được cam kết chính hãng 100%, phân phối độc quyền tại LUG.vn và bảo hành 10 năm toàn cầu bởi thương hiệu Elle.
section#landing-2.landing-section.specifi-section.clearfix
	.container
		h3.landing-title.text-center Thông số kỹ thuật
		table.table
			tr
				td Mã SP
				td EL31192
			tr
				td Màu sắc
				td Red
			tr
				td Size
				td 28
			tr
				td Số ngăn
				td 3 ngăn
			tr
				td Kích thước
				td 77 x 55 x 30 cm
			tr
				td Trọng lượng
				td 4.6 kg
			tr
				td Bảo hành
				td Hư cần kéo, bánh xe, khoá kéo, ổ khoá, lỗi đứt chỉ và các lỗi kĩ thuật
section#landing-3.landing-section.feature-section.clearfix
	//- .feature-bg
		img(src="img/landing/bn2.jpg", alt="")
	.container
		h3.landing-title.text-center Tính năng
		.feature-list
			//- .product-img2
				img(src="img/landing/prf1.png", alt="")
			.row
				.col-12.col-md-6.col-left
					.feature
						figure
							.icon
								img(src="img/landing/f1.png", alt="")
							figcaption Với các tính năng như độ đàn hồi cao, chống thấm nước, kháng tia UV, bền bỉ sau các va đập vật lý và hạn chế trầy xước từ bề mặt nhám mắt xích, chất liệu P.P của vali nhựa cứng kiến tạo nên sự hoàn hảo của EL31192, phù hợp với các tín đồ mê xê dịch lẫn yêu thời trang.
							
					.feature
						figure
							.icon
								img(src="img/landing/f2.png", alt="")
							figcaption Bạn có thể hoàn toàn yên tâm dù mình cao hay thấp vì cần kéo vali có thể dễ dàng điều chỉnh sao cho phù hợp với nhu cầu người sử dụng. Cần kéo làm bằng hợp kim Aluminium không rỉ kết hợp quai xách cao su non êm ái.
							
					.feature
						figure
							.icon
								img(src="img/landing/f3.png", alt="")
							figcaption Sản phẩm mới nhất của thương hiệu Elle cũng như những chiếc vali kéo 8 bánh khác, sử dụng bánh xe được sản xuất tại nhà máy Hinomoto Nhật Bản, vỏ bánh xe làm từ cao su thiên nhiên đúc nguyên khối, bao bọc khung lõi cốt thép kiên cố, hạn chế ma sát và tiếng ồn khi di chuyển.
				.col-12.col-md-6.col-right
					.feature
						figure
							.icon
								img(src="img/landing/f4.png", alt="")
							figcaption Thiết kế khoang chứa bên trong của vali kéo nhựa thương hiệu Elle rộng rãi, giúp bạn dễ dàng sắp xếp hành lý của mình một cách khoa học nhất, trang bị ngăn kéo cơi nới tăng 25% thể tích.
							
					.feature
						figure
							.icon
								img(src="img/landing/f6.png", alt="")
							figcaption Hành lý lẫn vali đều được bảo bọc an toàn bởi hệ thống khóa số TSA kết hợp dây kéo đôi chống rạch trộm ưu việt.
							
					.feature
						figure
							.icon
								img(src="img/landing/f5.png", alt="")
							figcaption Chất liệu vải dù (P.E) không thấm nước, lưới thoáng nhiệt giúp quần áo của bạn không bị ẩm mốc


section#landing-4.landing-section.review-section.clearfix
	.container
		.fb-comment
			img(src="img/comment.jpg", alt="")