section.login-page.clearfix
	.container
		h1.title Đăng nhập
		.row.flex.flex-wrap
			.col-xs-12.col-lg-6
				section.login-panel.clearfix
					.flex.flex-wrap
						.form-group.clearfix
							label(for="") E-mail hoặc ID
							input(type="text", placeholder="Vui lòng nhập địa chỉ email hoặc ID của bạn")
							label(for="") Mật khẩu
							input(type="password", placeholder="Vui lòng nhập mật khẩu của bạn")
						.buttonwrap
							.button
								<i class="fa fa-unlock-alt" aria-hidden="true"></i>
								input(type="submit",  value="Đăng nhập")
					.social-login.clearfix
						span Hoặc đăng nhập với
						a(href="#")
							img(src="img/login/fb.jpg", alt="")
						a(href="#")
							img(src="img/login/gg.jpg", alt="")
					.login-link.clearfix
						a(href="#") Tìm kiếm E-mail/ID và mật khẩu
						a(href="#") Đăng ký
			.col-xs-12.col-lg-6
				section.login-img.clearfix
					img(src="img/login/1.jpg", alt="")