section.login-page.member-login.clearfix
	.container
		h1.title Membership
		.row.flex.flex-wrap
			.col-xs-12.col-lg-7.col-xl-6
				section.login-panel.clearfix
					.title Kiểm tra điểm tích lũy
					.flex.flex-wrap
						.form-group.clearfix
							label(for="") E-mail hoặc ID
							input(type="text", placeholder="Vui lòng nhập địa chỉ email hoặc ID của bạn")
							label(for="") Mật khẩu
							input(type="password", placeholder="Vui lòng nhập mật khẩu của bạn")
						.buttonwrap
							.button
								<i class="fa fa-unlock-alt" aria-hidden="true"></i>
								input(type="submit",  value="Đăng nhập")
					.social-login.clearfix
						span Hoặc đăng nhập với
						a(href="#")
							img(src="img/login/fb.jpg", alt="")
						a(href="#")
							img(src="img/login/gg.jpg", alt="")
					.login-link.clearfix
						a(href="#") Tìm kiếm E-mail/ID và mật khẩu
						a(href="#") Đăng ký
			.col-xs-12.col-lg-6
				//- section.login-img.clearfix
				//- 	img(src="img/login/1.jpg", alt="")

section.membership-policy.clearfix
	.container
		.title Qui định member
		.row
			.row.flex.flex-wrap
				.col-xs-12.col-md-6.col-lg-3.membership-col
					.col-xs-12
						figure
							.membership-img
								img(src="img/membership/1.jpg", alt="alt")
							figcaption Any purchase
				.col-xs-12.col-md-6.col-lg-3.membership-col
					.col-xs-12
						figure
							.membership-img
								img(src="img/membership/2.jpg", alt="alt")
							figcaption Any purchase
				.col-xs-12.col-md-6.col-lg-3.membership-col
					.col-xs-12
						figure
							.membership-img
								img(src="img/membership/3.jpg", alt="alt")
							figcaption Any purchase
				.col-xs-12.col-md-6.col-lg-3.membership-col
					.col-xs-12
						figure
							.membership-img
								img(src="img/membership/4.jpg", alt="alt")
							figcaption Any purchase
		.award-list.clearfix
			.award.flex.flex-wrap.clearfix
				.award-title
					h3 Accumulation
				.award-des
					ul 
						li -  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, sit.
						li -  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, sit.
			.award.flex.flex-wrap.clearfix
				.award-title
					h3 Expiration
				.award-des
					ul 
						li -  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, sit.
						li -  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, sit.
			.award.flex.flex-wrap.clearfix
				.award-title
					h3 Redemption
				.award-des
					ul 
						li -  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, sit.
						li -  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, sit.
						li -  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, sit.
