section.news-page.clearfix
	.container
		h3.pagetitle Tạp chí
		.slidewrap.clearfix
			.control
				.prev <span class="lnr lnr-chevron-left"></span>
				.next <span class="lnr lnr-chevron-right"></span>
			.news-slide
				.item
					.news-banner
						img(src="img/news/bn2.jpg", alt="")
						.caption
							.category LÀM ĐẸP 
							.collection SUMMER 2016
							.title Sỡ Hữu Làn Da Ẩm Mượt Ngày Hè
							.des Đây chính là 2 công thức bạn cần "bỏ túi" để bảo vệ da, giúp chống lại kích ứng từ những tác hại từ môi trường, bao gồm cả tác động từ nhiệt độ cao bên ngoài và tác động từ máy điều hòa bên trong, tránh khỏi tia UV và những phân tử có hại trong ngày hè.
				.item
					.news-banner
						img(src="img/news/bn2.jpg", alt="")
						.caption
							.category LÀM ĐẸP 
							.collection SUMMER 2016
							.title Sỡ Hữu Làn Da Ẩm Mượt Ngày Hè
							.des Đây chính là 2 công thức bạn cần "bỏ túi" để bảo vệ da, giúp chống lại kích ứng từ những tác hại từ môi trường, bao gồm cả tác động từ nhiệt độ cao bên ngoài và tác động từ máy điều hòa bên trong, tránh khỏi tia UV và những phân tử có hại trong ngày hè.
	nav.news-category.clearfix
		.container
			ul 
				li.active
					a(href="#") Phân loại theo hạng mục
				li 
					a(href="#") Phân loại theo tháng
			.btn-backnews Tạp chí trước <span class="lnr lnr-chevron-right"></span>
	nav.sub-category.clearfix
		.container
			ul.nav.nav-tabs(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab', href='#home', role='tab') Tất cả
				li.nav-item
					a.nav-link(data-toggle='tab', href='#profile', role='tab') Làm đẹp
				li.nav-item
					a.nav-link(data-toggle='tab', href='#profile', role='tab') Thời trang
				li.nav-item
					a.nav-link(data-toggle='tab', href='#profile', role='tab') Văn hóa
				li.nav-item
					a.nav-link(data-toggle='tab', href='#profile', role='tab') Xu hướng
	.news-list.clearfix
		.container
			.row.flex.flex-wrap
				.bricklayer.clearfix
					.item
						.news-col.clearfix
							figure
								a.news-img(href="#")
									img(src="img/news/news1.jpg", alt="")
								figcaption.clearfix
									.news-title Làm đẹp
									time 06.2016
									h3.news-name
										a(href="#") Sở Hữu Làn Da Ẩm Mượt Ngày Hè
					.item
						.news-col.clearfix
							figure
								a.news-img(href="#")
									img(src="img/news/news2.jpg", alt="")
								figcaption.clearfix
									.news-title Làm đẹp
									time 06.2016
									h3.news-name
										a(href="#") Hai Bí Quyết Cho Làn Da Hoàn Hảo Đón Xuân
									.news-des Nếu như da bạn đang tiết quá nhiều dầu, bã nhờn, và bị xỉn màu và nổi mụn mẩn vào mùa xuân, đây là lúc bạn cần đến một liệu pháp đặc biệt giúp bảo vệ da khỏi bụi bẩn và phục hồi vẻ trắng sáng cho da.
					.item
						.news-col.clearfix
							figure
								a.news-img(href="#")
									img(src="img/news/news3.jpg", alt="")
								figcaption.clearfix
									.news-title Làm đẹp
									time 06.2016
									h3.news-name
										a(href="#") Ngày nghỉ lễ may mắn với LANEIGE
									.news-des BUỔI TỐI HUYỀN DIỆU
					.item
						.news-col.clearfix
							figure
								a.news-img(href="#")
									img(src="img/news/news4.jpg", alt="")
								figcaption.clearfix
									.news-title Làm đẹp
									time 06.2016
									h3.news-name
										a(href="#") 3 Điểm của một Làn Da Trẻ Trung
									.news-des 3 thói quen cho một làn da trẻ trung hơn
					.item
						.news-col.clearfix
							figure
								a.news-img(href="#")
									img(src="img/news/news5.jpg", alt="")
								figcaption.clearfix
									.news-title Làm đẹp
									time 06.2016
									h3.news-name
										a(href="#") Kem nền đa năng so với phấn nén dạng thạch
									.news-des Kiếm tìm giải pháp trang điểm nền phù hợp nhất
		
