.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-9
			section.news-content.clearfix
				time
					.date 07
					.month AUG
				.news-img.clearfix
					img(src="img/news/6.jpg", alt="")
				h1.news-name The Ultimate Packing List For Female Travelers
				.news-info Post by 
					a(href="#") Admin 
					| | 
					|Comment 
					span 03
				.content
					p Dorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit ametd
					p orem ipsum dolor sit amet, consectetur adipisicing elit. Iste commodi reiciendis fugit qui quia ut, non omnis dignissimos minima iure iusto voluptatem nihil. Repellendus commodi accusamus velit dolores vitae impedit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste commodi reiciendis fugit qui quia ut, non omnis dignissimos minima iure iusto voluptatem nihil. Repellendus commodi accusamus velit dolores vitae.
					.quote We possess within us two minds. So far I have written ere theronly of theewer conscious mind. within us two mind wewSo far I hheronly of theer conscious mind. within us two mind mind. within us two mind wew.
					p Dorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor.
				.hashtag
					a(href="#") Elle
					a(href="#") Lusetti
					a(href="#") Outdoor
				.share
					img(src="img/social.png", alt="")
				.fb-comment.clearfix facebook comment
		.col-xs-12.col-lg-3
			nav.sidebar-category.clearfix
				h3.title Danh mục tin
				ul 
					li 
						a(href="#") Làm đẹp
					li 
						a(href="#") Thời trang
					li 
						a(href="#") Văn hóa
					li 
						a(href="#") Xu hướng
			.other-news.clearfix
				h3.title Tin tức khác
				ul 
					li.post.clearfix
						figure
							a.post-img(href="#")
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								h3.post-name 
									a(href="#") New York City Travel Guide
								time 24/7/2017
					li.post.clearfix
						figure
							a.post-img(href="#")
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								h3.post-name 
									a(href="#") New York City Travel Guide
								time 24/7/2017
					li.post.clearfix
						figure
							a.post-img(href="#")
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								h3.post-name 
									a(href="#") New York City Travel Guide
								time 24/7/2017
					li.post.clearfix
						figure
							a.post-img(href="#")
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								h3.post-name 
									a(href="#") New York City Travel Guide
								time 24/7/2017
					li.post.clearfix
						figure
							a.post-img(href="#")
								img(src="img/news/5.jpg", alt="alt")
							figcaption 
								h3.post-name 
									a(href="#") New York City Travel Guide
								time 24/7/2017