section.breadcrumbwrap.clearfix
	.container
		ol.breadcrumb
			li 
				a(href="#")
					span Trang chủ
			li 
				a(href="#").active
					span Phụ kiện
section.category-page.clearfix
	.container
		h1.page-title Phụ kiện
		.cate-list
			.row
				article.col-12.col-md-6.col-lg-4
					.cate-col
						figure
							a.cate-img(href="#!")
								img(src="img/cate/1.jpg", alt="")
							figcaption
								h2.cate-name
									a(href="#!") Túi laptop
				article.col-12.col-md-6.col-lg-4
					.cate-col
						figure
							a.cate-img(href="#!")
								img(src="img/cate/2.jpg", alt="")
							figcaption
								h2.cate-name
									a(href="#!") Túi đeo
				article.col-12.col-md-6.col-lg-4
					.cate-col
						figure
							a.cate-img(href="#!")
								img(src="img/cate/3.jpg", alt="")
							figcaption
								h2.cate-name
									a(href="#!") Dao đa năng
				article.col-12.col-md-6.col-lg-4
					.cate-col
						figure
							a.cate-img(href="#!")
								img(src="img/cate/4.jpg", alt="")
							figcaption
								h2.cate-name
									a(href="#!") Dây đai
				article.col-12.col-md-6.col-lg-4
					.cate-col
						figure
							a.cate-img(href="#!")
								img(src="img/cate/5.jpg", alt="")
							figcaption
								h2.cate-name
									a(href="#!") Khóa số TSA
				article.col-12.col-md-6.col-lg-4
					.cate-col
						figure
							a.cate-img(href="#!")
								img(src="img/cate/6.jpg", alt="")
							figcaption
								h2.cate-name
									a(href="#!") Túi kéo