section.product-page.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-lg-6
				section.productimg-slide.clearfix
					.item
						.flex.flex-wrap
							.product-nav
								.item
									img(src="img/productslide/1.png", alt="")
								.item
									img(src="img/productslide/2.png", alt="")
								.item
									img(src="img/productslide/3.png", alt="")
								.item
									img(src="img/productslide/4.png", alt="")
							.product-slider
								.item
									a(href="#")
										img(src="img/productslide/1.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/2.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/3.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/4.png", alt="")
					.item
						.flex.flex-wrap
							.product-nav
								.item
									img(src="img/productslide/1.png", alt="")
								.item
									img(src="img/productslide/2.png", alt="")
								.item
									img(src="img/productslide/3.png", alt="")
								.item
									img(src="img/productslide/4.png", alt="")
							.product-slider
								.item
									a(href="#")
										img(src="img/productslide/1.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/2.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/3.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/4.png", alt="")
					.item
						.flex.flex-wrap
							.product-nav
								.item
									img(src="img/productslide/1.png", alt="")
								.item
									img(src="img/productslide/2.png", alt="")
								.item
									img(src="img/productslide/3.png", alt="")
								.item
									img(src="img/productslide/4.png", alt="")
							.product-slider
								.item
									a(href="#")
										img(src="img/productslide/1.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/2.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/3.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/4.png", alt="")
					.item
						.flex.flex-wrap
							.product-nav
								.item
									img(src="img/productslide/1.png", alt="")
								.item
									img(src="img/productslide/2.png", alt="")
								.item
									img(src="img/productslide/3.png", alt="")
								.item
									img(src="img/productslide/4.png", alt="")
							.product-slider
								.item
									a(href="#")
										img(src="img/productslide/1.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/2.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/3.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/4.png", alt="")
					.item
						.flex.flex-wrap
							.product-nav
								.item
									img(src="img/productslide/1.png", alt="")
								.item
									img(src="img/productslide/2.png", alt="")
								.item
									img(src="img/productslide/3.png", alt="")
								.item
									img(src="img/productslide/4.png", alt="")
							.product-slider
								.item
									a(href="#")
										img(src="img/productslide/1.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/2.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/3.png", alt="")
								.item
									a(href="#")
										img(src="img/productslide/4.png", alt="")
				.share-product.clearfix
					label SHARE
					a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
			.col-xs-12.col-lg-6
				section.product-detail.clearfix
					.promotion.new
						span NEW
					h1.product-name Vali lusetti 1447
					.favorite
						img(src="img/favorite.png", alt="")
					.comment
						span 6 Đánh giá | 
						a(href="#") Viết đánh giá của bạn
					.product-price.clearfix
						.new 1.500.000đ
						.old 2.000.000đ
					.color-picker.clearfix
						.title Color
						.color-select
							.item
								.color
									img(src="img/productslide/c1.png", alt="")
							.item
								.color
									img(src="img/productslide/c2.png", alt="")
							.item
								.color
									img(src="img/productslide/c3.png", alt="")
							.item
								.color
									img(src="img/productslide/c4.png", alt="")
							.item
								.color
									img(src="img/productslide/c5.png", alt="")
					.size-picker.clearfix
						.title Size
						ul.nav.nav-tabs(role='tablist')
							li.nav-item
								a.nav-link.active(data-toggle='tab', href='#', role='tab') 20
							li.nav-item
								a.nav-link(data-toggle='tab', href='#', role='tab') 24
							li.nav-item
								a.nav-link(data-toggle='tab', href='#', role='tab') 28
					.time-countdown.clearfix
						.countdown(data-countdown="2017/01/21")
					.product-amount Chỉ còn 1 sản phẩm
					.button
						a.btn-addtocart(href="#") Mua ngay
						a.help(href="#")
							img(src="img/muahang.png", alt="")
						span Hoặc
							a(href="#") Thanh toán nhanh
section.product-information.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-lg-6
				section.sale-info.clearfix
					.title Thông tin khuyến mãi
					.slidewrap.clearfix
						.control
							#sale-prev.prev <span class="lnr lnr-chevron-left"></span>
							#sale-next.next <span class="lnr lnr-chevron-right"></span>
						.sale-slide.clearfix
							.item
								a(href="")
									img(src="img/product/sale.png", alt="")
							.item
								a(href="")
									img(src="img/product/sale.png", alt="")
							.item
								a(href="")
									img(src="img/product/sale.png", alt="")
							.item
								a(href="")
									img(src="img/product/sale.png", alt="")
							.item
								a(href="")
									img(src="img/product/sale.png", alt="")
					.module-title Nhập thông tin của bạn để được tư vấn miễn phí và nhận những thoogn tin ưu đãi, khuyến mại đặc biệt dành cho thành viên của LUG
					.input-phone.clearfix
						input(type="text", placeholder="Nhập số điện thoại")
						input(type="submit", value="Nhận cuộc gọi")
			.col-xs-12.col-lg-6
				section.check-product.clearfix
					.title Kiểm tra có hàng tại nơi bạn ở không?
					.row.flex.flex-wrap
						.col-xs-12.col-sm-6
							.form-group
								select(name="")
									option(value="") TP.Hồ Chí Minh
						.col-xs-12.col-sm-6
							.form-group
								select(name="")
									option(value="") Màu: Đen
						.col-xs-12.col-sm-6
							.form-group
								select(name="")
									option(value="") Quận 1
						.col-xs-12.col-sm-6
							.form-group
								select(name="")
									option(value="") Size: 21
					.title Cửa hàng gần bạn
					ul.storelist
						li 130 Trần Quang Khải, p.Tân Định
							.des Thời gian nhận hàng từ 3 - 5 ngày
						li 130 Trần Quang Khải, p.Tân Định
							.des Thời gian nhận hàng từ 3 - 5 ngày
						li 130 Trần Quang Khải, p.Tân Định
							.des Thời gian nhận hàng từ 3 - 5 ngày
section.product-overview.clearfix
	.container
		.detail-container.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-lg-5
					.slide3d
						img(src="img/product/360.jpg", alt="")
				.col-xs-12.col-lg-7
					.detail-slide
						.item
							.detail-product
								figure
									figcaption
										.title
											.number 1
											.main-title Chất liệu da 100% tự nhiên
										.des Chất liệu da được làm 100% da bò nhập khẩu trực tiếp từ Ý
									.product-img
										img(src="img/product/detail.jpg", alt="")
						.item
							.detail-product
								figure
									figcaption
										.title
											.number 1
											.main-title Chất liệu da 100% tự nhiên
										.des Chất liệu da được làm 100% da bò nhập khẩu trực tiếp từ Ý
									.product-img
										img(src="img/product/detail.jpg", alt="")
						.item
							.detail-product
								figure
									figcaption
										.title
											.number 1
											.main-title Chất liệu da 100% tự nhiên
										.des Chất liệu da được làm 100% da bò nhập khẩu trực tiếp từ Ý
									.product-img
										img(src="img/product/detail.jpg", alt="")
						.item
							.detail-product
								figure
									figcaption
										.title
											.number 1
											.main-title Chất liệu da 100% tự nhiên
										.des Chất liệu da được làm 100% da bò nhập khẩu trực tiếp từ Ý
									.product-img
										img(src="img/product/detail.jpg", alt="")
section.product-description.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-7.col-lg-8
				section.description.clearfix
					.title description
					.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolor incidunt cupiditate delectus autem non, deleniti, exercitationem officia ut esse, voluptas sit modi, a ipsam dignissimos eius doloribus itaque. Odio, voluptas earum optio deleniti repudiandae explicabo perferendis maxime magni nam vero quis commodi rem velit? Doloremque ipsum, praesentium quod molestiae saepe vero sed nemo hic libero aliquam. Saepe molestias expedita sed cupiditate necessitatibus nostrum quis nam eius dolore, animi laudantium amet natus numquam laboriosam, odit? Enim molestias, numquam debitis id ea, distinctio, saepe magnam obcaecati quaerat deserunt rem alias ab hic reprehenderit? Itaque quo nisi laudantium, corrupti quis numquam voluptatem.
			.col-xs-12.col-md-5.col-lg-4
				section.specs.clearfix
					.title SPECS
					ul.nav.nav-tabs(role='tablist')
						li.nav-item
							a.nav-link.active(data-toggle='tab', href='#tab1', role='tab') METRIC
						li.nav-item
							a.nav-link(data-toggle='tab', href='#tab2', role='tab') US
					.tab-content
						#tab1.tab-pane.active(role='tabpanel')
							.table-responsive
								table.table
									thead
										tr
											th
											th Volume
											th Dimensions
											th Weight
									tbody
										tr 
											th O/S
											td lorem
											td lorem
											td lorem
							.info
								.group.clearfix
									label lorem
									.detail Lorem ipsum dolor sit amet.
								.group.clearfix
									label lorem
									.detail Lorem ipsum dolor sit amet.
								.group.clearfix
									label lorem
									.detail Lorem ipsum dolor sit amet.
						#tab2.tab-pane(role='tabpanel')


section.hot-product.youlike.clearfix
	.container
		.pagetitle Có thể bạn sẽ thích
		.slidewrap
			.control
				#other-prev.prev <i class="fa fa-arrow-left" aria-hidden="true"></i>
				#other-next.next <i class="fa fa-arrow-right" aria-hidden="true"></i>
			.other-slide.clearfix
				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p1.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")
				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p2.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p1.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p2.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p1.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p2.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p1.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")
section.comment-module.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-lg-8
				section.recent-comment.clearfix
					.title Đánh giá LUG
					a.btn-comment Gửi đánh giá của bạn
					.group.clearfix
						.author-info <strong>Nguyễn Văn A</strong> 
							span.status Đã mua tại LUG
							span.favorite 
								img(src="img/favorite.png", alt="")
						.content
							p 
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio pariatur recusandae molestias magni quidem a, ipsa reiciendis, amet incidunt at sequi aspernatur eligendi odio et. Delectus aspernatur, sunt quis aliquid labore deleniti ipsam esse illum ut ducimus asperiores, quidem vel numquam neque illo ipsa, dolorem cumque aut. Maxime, eaque, possimus.
						.detail 
							.conversation 4 thảo luận
							.like <i class="fa fa-thumbs-up" aria-hidden="true"></i> thích
							time 1 tuần trước
					.pages
						ul.pagination
							li.active
								a(href="#") 1
							li
								a(href="#") 2
							li
								a(href="#") 3
			.col-xs-12.col-lg-4
				section.post-comment.clearfix
					.title Nhận xét
					textarea(name="", cols="30", rows="4", placeholder="Mời bạn để lại bình luận")
					.button
						a(href="#") <i class="fa fa-camera" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-smile-o" aria-hidden="true"></i>
					input(type="submit", value="Gửi")