section.feature-product.flex.flex-wrap.clearfix
	.feature-col
		a(href="#")
			img(src="img/product/1.png", alt="")
	.feature-col
		a(href="#")
			img(src="img/product/2.png", alt="")
	.feature-col
		a(href="#")
			img(src="img/product/3.png", alt="")
section.best-sale.clearfix
	.container
		h1.pagetitle Best sellers
		.product-list.clearfix
			.col-xs-12.col-lg-6
				.col-xs-12.col-sm-6.product-col
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.product-col
					figure
						.product-img(href="#")
							img(src="img/product/p2.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.set1
					.product-set.clearfix
						.product-slide.clearfix
							.item
								.product-img
									img(src="img/product/b1.jpg", alt="")
							.item
								.product-img
									img(src="img/product/b1.jpg", alt="")
							.item
								.product-img
									img(src="img/product/b1.jpg", alt="")
						.product-thumbnail.clearfix
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
						.set-name
							a(href="#") UNA TABLE_2
						.star
							img(src="img/product/star.png", alt="")
						.price $122.00
						.info
							.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
							.amount (Đã mua 500)
							.like
								img(src="img/product/like.png", alt="")
						
			.col-xs-12.col-lg-6
				.col-xs-12.set2
					.product-set.clearfix
						.product-slide.clearfix
							.item
								.product-img
									img(src="img/product/b1.jpg", alt="")
							.item
								.product-img
									img(src="img/product/b1.jpg", alt="")
							.item
								.product-img
									img(src="img/product/b1.jpg", alt="")
						.product-thumbnail.clearfix
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
							.item
								.product-img
									img(src="img/product/s1.png", alt="")
						.set-name
							a(href="#") UNA TABLE_2
						.star
							img(src="img/product/star.png", alt="")
						.price $122.00
						.info
							.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
							.amount (Đã mua 500)
							.like
								img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.product-col
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.product-col
					figure
						.promotion.sale
							span SALE
						.product-img(href="#")
							img(src="img/product/p2.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
		.row.flex.flex-wrap
			.col-xs-12.col-md-6.feature-col
				.feature.product-slide
					.item
						img(src="img/product/sale1.jpg", alt="")
					.item
						img(src="img/product/sale2.jpg", alt="")
			.col-xs-12.col-md-6.feature-col
				.feature.product-slide
					.item
						img(src="img/product/sale2.jpg", alt="")
					.item
						img(src="img/product/sale1.jpg", alt="")

section.hot-product.clearfix
	.container
		h2.pagetitle feature products
		.slidewrap
			.control
				#other-prev.prev <i class="fa fa-arrow-left" aria-hidden="true"></i>
				#other-next.next <i class="fa fa-arrow-right" aria-hidden="true"></i>
			.other-slide.clearfix
				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p1.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")
				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p2.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p1.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p2.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p1.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p2.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")

				.item
					.product-col
						figure
							.promotion.sale
								span SALE
							.product-img(href="#")
								img(src="img/product/p1.png", alt="alt")
								.button
									a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
									a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
							figcaption
								.product-name
									a(href="#") HP STREAM & PAVILION MINI
								.star
									img(src="img/product/star.png", alt="")
								.price $122.00
								.buy-panel.clearfix
									.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
									.info
										.amount (Đã mua 500)
										.like
											img(src="img/product/like.png", alt="")
section.big-sale.clearfix
	.container
		.bigsale-img
			img(src="img/product/big.png", alt="")