section.customer-page.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-lg-3
				section.ask-question.clearfix
					.module-title Gửi câu hỏi
					.form-group
						input(type="text",placeholder="Họ và Tên")
					.form-group
						input(type="text",placeholder="Email")
					.form-group
						input(type="text",placeholder="Tiêu đề")
					.form-group
						textarea(name="", cols="", rows="", placeholder="Nội dung")
					input(type="submit", value="Gửi")
			.col-xs-12.col-lg-9
				.faq-list.clearfix
					.faq-group
						.faq-title Lorem ipsum dolor?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Consectetur adipisicing
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Dolor possimus veniam eum recusandae provident?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Deserunt esse distinctio facere soluta?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Soluta enim dolore dicta illum debitis voluptas?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Esse distinctio facere?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Lorem ipsum dolor?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Delectus deserunt esse distinctio facere?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Lorem ipsum dolor?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
					.faq-group
						.faq-title Deserunt esse distinctio facere soluta?
						.faq-content
							.content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi culpa illo earum temporibus rerum ipsam optio esse quis, ea molestiae nostrum dolorem quam corporis dolor possimus veniam eum recusandae provident.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, blanditiis, tenetur. Alias suscipit accusantium quisquam, ipsum voluptas incidunt est et iure laudantium veniam quas harum. Quibusdam in magnam repellat illo, repellendus placeat similique necessitatibus, delectus deserunt esse distinctio facere soluta enim dolore dicta illum debitis voluptas, pariatur ab modi natus?
