.container
	.row.flex.flex-wrap
		.col-xs-12.col-lg-3
			section.sidebar.clearfix
				.category.clearfix
					.title Categories
					ul.category-link
						li
							a(href="#") Fashion (6)
						li
							a(href="#") Health & Beauty (6)
						li
							a(href="#") Electronics (6)
						li
							a(href="#") Furniture (6)
		.col-xs-12.col-lg-9
			section.shop-banner.clearfix
				.title Echolac
				.shopbanner.clearfix
					.item
						img(src="img/banner/2.jpg", alt="")
					.item
						img(src="img/banner/2.jpg", alt="")
					.item
						img(src="img/banner/2.jpg", alt="")
		.col-xs-12
			section.shop-filter.clearfix
				.flex.flex-wrap
					.filter-price.clearfix
						label Giá (trong VND)
						.filter-range
							img(src="img/price.jpg", alt="")
						.input-price
							.inputwrap
								input(type="text", value="23000")
							.inputwrap
								input(type="text", value="306000")
								button.btn-filter <i class="fa fa-caret-right" aria-hidden="true"></i>
					.filter-brand.clearfix
						label(for="") Thương hiệu
						select(name="")
							option(value="") Yêu thích
					.filter-brand.clearfix
						label(for="") Tính năng
						select(name="")
							option(value="") Yêu thích
					.filter-brand.clearfix
						label(for="") Size
						select(name="")
							option(value="") Yêu thích
					.viewas.clearfix
						label(for="") View as:
						.view.view-item.active <i class="fa fa-th" aria-hidden="true"></i>
						.view.view-list <i class="fa fa-th-list" aria-hidden="true"></i>
			section.shop-product.clearfix
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.product-col
					.promotion.sale
						span SALE
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart(data-toggle='modal', data-target='#cartModal') <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.product-col
					.promotion.sale
						span SALE
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.product-col
					.promotion.sale
						span SALE
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.product-col
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.product-col
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.product-col
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.product-col
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.product-col
					figure
						.product-img(href="#")
							img(src="img/product/p1.png", alt="alt")
							.button
								a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
								a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
						figcaption
							.product-name
								a(href="#") HP STREAM & PAVILION MINI
							.star
								img(src="img/product/star.png", alt="")
							.price $122.00
								span.old $300.00
							.buy-panel.clearfix
								.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
								.info
									.amount (Đã mua 500)
									.like
										img(src="img/product/like.png", alt="")
//- // Modal
#cartModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog(role='document')
	.product-popup.clearfix
		.btn-closepopup(data-dismiss='modal', aria-label='Close') <i class="fa fa-times-circle" aria-hidden="true"></i>
		.caption.text-xs-center LUG.VN - VALI - BALO - PHỤ KIỆN CHÍNH HÃNG
			.des (Tư vấn miễn phí - không mua không sao)
		.popup-content.clearfix
			.flex.flex-wrap
				.col-xs-12.col-md-8
					.product.clearfix
						figure
							.product-img
								img(src="img/productslide/1.png", alt="")
							figcaption.product-detail.clearfix
								.promotion.new
									span NEW
								h1.product-name Vali lusetti 1447
								.favorite
									img(src="img/favorite.png", alt="")
								.comment
									span 6 Đánh giá | 
									a(href="#") Viết đánh giá của bạn
								.product-price.clearfix
									.new 1.500.000đ
									.old 2.000.000đ
								.button
									a.btn-addtocart(href="#") Thanh toán
				//- .col-xs-12.col-md-4
					//- .shipping-info.clearfix
					//- 	.title Thông tin giao hàng
					//- 	.form-group.clearfix
					//- 		input(type="text", placeholder="* Họ và tên của bạn")
					//- 	.form-group.clearfix
					//- 		input(type="text", placeholder="* Số điện thoại")
					//- 	.form-group.clearfix
					//- 		input(type="text", placeholder="* Email (Gửi xác nhận đơn hàng)")
					//- 	.form-group.clearfix
					//- 		input(type="text", placeholder="* Địa chỉ nhận hàng")
					//- 	.form-group.clearfix
					//- 		select(name="")
					//- 			option(value="") Vui lòng chọn tỉnh thành phố
					//- 	.form-group.clearfix
					//- 		textarea(name="", cols="30", rows="2", placeholder="  Ghi chú đơn hàng")
					//- 	.form-group.clearfix
					//- 		input(type="text", placeholder="  Nhập mã khuyến mãi (nếu có)")
					//- 	.des * Nhớ nhập thông tin này để shop giao hàng nhé
				.col-xs-12.col-md-4
					section.minicart.clearfix
						.carttitle
							span Đơn hàng (
								strong 2
								|  sản phẩm)
						a.btn-edit(href='cart.html') Thay đổi
						.carttable.clearfix
							.product-group
								.group.clearfix
									.product.clearfix
										a.productimg(href='#')
											img(src='img/sanpham/1.jpg', alt='')
										.productdetail
											h3.productname
												a(href='#') AP0446 - 897
									.amount
										.price 500.000đ
										.count x1
										.total 500.000đ
								.group.clearfix
									.product.clearfix
										a.productimg(href='#')
											img(src='img/sanpham/2.jpg', alt='')
										.productdetail
											h3.productname
												a(href='#') AP0446 - 897
									.amount
										.price 500.000đ
										.count x1
										.total 500.000đ
							.group
								.label Tổng tiền
								.value 1.000.000đ
							.group
								.label
									| Phí vận chuyển
									.help(target='_black', href='#')
										i.fa.fa-question-circle(aria-hidden='true')
										a.help-tip(target='_blank', href='#') Xem chính sách giao hàng của Cánh Cam
								.value MIỄN PHÍ
							.group
								.label Số tiền phải thanh toán
								.value
									strong 1.000.000đ

					//- .cart-info.clearfix
					//- 	.title Giỏ hàng của tôi
					//- 		span (3 sản phẩm)
					//- 	.table
					//- 		.info-group.clearfix
					//- 			.label Tạm phí:
					//- 			.value 45.000 VNĐ
					//- 		.info-group.clearfix
					//- 			.label Phí vận chuyển:
					//- 			.value 145.000 
					//- 		.info-group.clearfix
					//- 			.label 
					//- 				strong Thành tiền:
					//- 			.value 
					//- 				strong 1.750.000 VNĐ
					//- 	.slidewrap
					//- 		.control
					//- 			#cart-prev.prev <span class="lnr lnr-chevron-left"></span>
					//- 			#cart-next.next <span class="lnr lnr-chevron-right"></span>
					//- 		.cart-slide
					//- 			.item
					//- 				.product-img
					//- 					img(src="img/productslide/1.png", alt="")
					//- 			.item
					//- 				.product-img
					//- 					img(src="img/productslide/2.png", alt="")
					//- 			.item
					//- 				.product-img
					//- 					img(src="img/productslide/3.png", alt="")
					//- 			.item
					//- 				.product-img
					//- 					img(src="img/productslide/4.png", alt="")
					//- 			.item
					//- 				.product-img
					//- 					img(src="img/productslide/1.png", alt="")
					//- 	.title Thanh toán
					//- 	ul 
					//- 		li 
					//- 			.radio-button
					//- 				input#cod(type="radio", name="payment" checked)
					//- 				label(for="cod") Thanh toán khi giao hàng (COD)
					//- 		li 
					//- 			.radio-button
					//- 				input#vtc(type="radio", name="payment")
					//- 				label(for="vtc") Thanh toán online qua cổng VTCPay
					//- 	.btn-booking ĐẶT HÀNG GIAO TẬN NƠI
		section.hot-product.combo-sale.clearfix
			.title Ưu đãi khi mua sản phẩm
			.slidewrap
				.control
					#other-prev.prev <i class="fa fa-arrow-left" aria-hidden="true"></i>
					#other-next.next <i class="fa fa-arrow-right" aria-hidden="true"></i>
				#hot-in-modal.hot-in-modal.clearfix
					.item
						.product-col
							figure
								.promotion.sale
									span -50%
								.product-img(href="#")
									img(src="img/product/p1.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")
					.item
						.product-col
							figure
								.promotion.sale
									span -50%
								.product-img(href="#")
									img(src="img/product/p2.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span -50%
								.product-img(href="#")
									img(src="img/product/p1.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span -50%
								.product-img(href="#")
									img(src="img/product/p2.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span -50%
								.product-img(href="#")
									img(src="img/product/p1.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span -50%
								.product-img(href="#")
									img(src="img/product/p2.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span -50%
								.product-img(href="#")
									img(src="img/product/p1.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")