include bannerads
.container
	.row.flex.flex-wrap.clearfix
		include filter
		.col-main.clearfix
			section.product-page.clearfix
				.btn-togglewrap.d-lg-none
					.btn-showcate Danh mục sản phẩm
					.btn-showfilter Lọc sản phẩm
				.category-info.clearfix.wow.fadeInUp
					.product-sort.clearfix
						select
							option(value="#") Sắp xếp theo
							option(value="#") Bán chạy nhất
							option(value="#") Hàng mới về
							option(value="#") Giá cao nhất
							option(value="#") Giá thấp nhất
					h1.cate-name Vali 1
					.amount Tìm thấy 60 sản phẩm
				.product-list.clearfix
					.row.no-gutters
						article.col-12.col-md-8.col-lg-6
							.product-card
								figure
									.detail-popup
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
										.product-detail
											.popup-promotion
												ul
													li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
													li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
											span Màn hình: 6.2, Quad HD (2K)
											span HĐH: Android 7.0
											span CPU: Exynos 8895 8 nhân
											span RAM: 4 GB, ROM: 64 GB
											span Camera: 12 MP, Selfie: 8 MP
											span PIN: 3500 mAh
										a.btn-compare(href="#!") So sánh

									a.product-img(href="#!")
										img(src="img/product/bn1.jpg", alt="")
									figcaption
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
										.product-detail
											.popup-promotion
												ul
													li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
													li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
						article.col-12.col-md-8.col-lg-6
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/bn1.jpg", alt="")
									figcaption
										.promotion.moi Mới ra mắt
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
						article.col-12.col-md-4.col-lg-3
							.product-card
								figure
									.detail-popup
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
										.product-detail
											//- .popup-promotion
												ul
													li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
													li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
											span Màn hình: 6.2, Quad HD (2K)
											span HĐH: Android 7.0
											span CPU: Exynos 8895 8 nhân
											span RAM: 4 GB, ROM: 64 GB
											span Camera: 12 MP, Selfie: 8 MP
											span PIN: 3500 mAh
										a.btn-compare(href="#!") So sánh
									a.product-img(href="#!")
										img(src="img/product/pr1.jpg", alt="")
									figcaption
										.promotion.moi Mới ra mắt
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
										.product-detail
											.popup-promotion
												ul
													li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
													li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
						article.col-12.col-md-4.col-lg-3
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/pr1.jpg", alt="")
									figcaption
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
										.product-detail
											.popup-promotion
												ul
													li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
													li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
						article.col-12.col-md-6.col-lg-6
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/bn1.jpg", alt="")
									figcaption
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
						article.col-12.col-md-4.col-lg-3
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/pr1.jpg", alt="")
									figcaption
										.promotion.moi Mới ra mắt
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
						article.col-12.col-md-4.col-lg-3
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/pr1.jpg", alt="")
									figcaption
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
										.product-detail
											.popup-promotion
												ul
													li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
													li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
						article.col-12.col-md-4.col-lg-3
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/pr1.jpg", alt="")
									figcaption
										.promotion.moi Mới ra mắt
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
						article.col-12.col-md-4.col-lg-3
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/pr1.jpg", alt="")
									figcaption
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
						article.col-12.col-md-6.col-lg-6
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/bn1.jpg", alt="")
									figcaption
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
										.product-detail
											.popup-promotion
												ul
													li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
													li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
						article.col-12.col-md-4.col-lg-3
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/pr1.jpg", alt="")
									figcaption
										.promotion.moi Mới ra mắt
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
						article.col-12.col-md-4.col-lg-3
							.product-card
								figure
									a.product-img(href="#!")
										img(src="img/product/pr1.jpg", alt="")
									figcaption
										.promotion.tragop Trả góp 0%
										h3.product-name
											a(href="#!") Vali nhựa ABC 38 inch
										.product-price 
											span.new 20.490.000₫
						//- - for (var i = 0; i < 16; ++i) {
						//- 	article.col-6.col-sm-4.col-md-3
						//- 		.product-col
						//- 			figure 
						//- 				.promotion.new NEW
						//- 				//-.product-popup
						//- 					a.btn-viewdetail(href="#!") Chi tiết
						//- 					a.btn-buy(href="#!") Mua hàng
						//- 				a.product-img(href="#")
						//- 					img(src="img/product/1.jpg", alt="")
						//- 				.product-des
						//- 					.content Được mệnh danh là “vali thế hệ mới” của thương hiệu Conwood, PC129 mang dáng dấp hiện đại, thiết kế hài hòa kết hợp giữa khoa học và nghệ thuật, tạo nên kiệt tác mẫu mực cho những dòng vali kéo nhựa tiên phong trong cuộc cách mạng công nghệ sản xuất mới. Sử dụng chất liệu Poly Carbonate chịu áp lực tác động cao cùng bề mặt nhám giảm thiểu tình trạng trầy xước, chiếc vali du lịch thời trang của bạn sẽ luôn sáng bóng đẹp mắt. Đừng nghĩ với những màu sắc và thiết kế này, PC129 chỉ là vali kéo nam, phái nữ muốn thể hiện cá tính hay sự mạnh mẽ cũng có thể lựa chọn dòng sản phẩm này. Vali nhập khẩu từ Mỹ sử dụng cần kéo làm bằng hợp kim Aluminium bền bỉ với thời gian, thách thức thời tiết với ưu điểm không rỉ sét cùng hệ thống 8 bánh xe quay 360 độ lõi cốt thép hoàn toàn kiên cố, mượt mà di chuyển.
						//- 					a.btn-compare(href="#!") So sánh
						//- 				figcaption
						//- 					h3.product-name
						//- 						a(href="#") Vali kéo Conwood
						//- 					.product-size ID: 
						//- 						strong 1053407 
						//- 						|| Size: 24',25',27'
						//- 					.product-color
						//- 						.color(style='background: #5f5c5d')
						//- 						.color(style='background: #737fd3')
						//- 						.color(style='background: #6d5f97')
						//- 					.product-price.clearfix
						//- 						.old 3.900.000đ
						//- 						.new 1.830.000đ
						//- 					.btn-wrap
						//- 						a.btn-buy(href="#" data-toggle="tooltip" data-placement="left" title="Thêm vào giỏ hàng") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
						//- - }
			.pages.wow.fadeInUp
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4