.container
	section.sale-page.clearfix
		.row.flex.flex-wrap
			.col-xs-12
				a.sale-ads
					img(src="img/sale/bn1.jpg", alt="")
			.col-xs-12
				a.sale-ads
					img(src="img/sale/bn2.jpg", alt="")
			.col-xs-12
				a.sale-ads
					img(src="img/sale/bn3.jpg", alt="")
			.col-xs-12
				a.sale-ads
					img(src="img/sale/bn4.jpg", alt="")
	section.hot-product.clearfix
		.container
			h3.pagetitle feature products
			.slidewrap
				.control
					#other-prev.prev <i class="fa fa-arrow-left" aria-hidden="true"></i>
					#other-next.next <i class="fa fa-arrow-right" aria-hidden="true"></i>
				.other-slide.clearfix
					.item
						.product-col
							figure
								.promotion.sale
									span SALE
								.product-img(href="#")
									img(src="img/product/p1.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")
					.item
						.product-col
							figure
								.promotion.sale
									span SALE
								.product-img(href="#")
									img(src="img/product/p2.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span SALE
								.product-img(href="#")
									img(src="img/product/p1.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span SALE
								.product-img(href="#")
									img(src="img/product/p2.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span SALE
								.product-img(href="#")
									img(src="img/product/p1.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span SALE
								.product-img(href="#")
									img(src="img/product/p2.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")

					.item
						.product-col
							figure
								.promotion.sale
									span SALE
								.product-img(href="#")
									img(src="img/product/p1.png", alt="alt")
									.button
										a(href="#") <i class="fa fa-eye" aria-hidden="true"></i>
										a.fancybox(href="#") <i class="fa fa-search-plus" aria-hidden="true"></i>
								figcaption
									.product-name
										a(href="#") HP STREAM & PAVILION MINI
									.star
										img(src="img/product/star.png", alt="")
									.price $122.00
									.buy-panel.clearfix
										.btn-addtocart <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
										.info
											.amount (Đã mua 500)
											.like
												img(src="img/product/like.png", alt="")