.container
	section.product-page.clearfix
		.row.flex.flex-wrap
			.col-12.col-lg-6
				.slide-wrap.flex.flex-wrap.wow.fadeInLeft
					.product-slide
						.item
							a.fancybox(data-fancybox="gallery", href="img/product/p1.jpg")
								img(src="img/product/p1.jpg", alt="")
						.item
							a.fancybox(data-fancybox="gallery", href="img/product/p1.jpg")
								img(src="img/product/p1.jpg", alt="")
						.item
							a.fancybox(data-fancybox="gallery", href="img/product/p1.jpg")
								img(src="img/product/p1.jpg", alt="")
						.item
							a.fancybox(data-fancybox="gallery", href="img/product/p1.jpg")
								img(src="img/product/p1.jpg", alt="")
					
					.slide-col
						.product-nav
							.item
								.img
									img(src="img/product/p1.jpg", alt="")
							.item
								.img
									img(src="img/product/p1.jpg", alt="")
							.item
								.img
									img(src="img/product/p1.jpg", alt="")
							.item
								.img
									img(src="img/product/p1.jpg", alt="")
						a.btn-video(href="https://www.youtube.com/watch?v=JAs91fFwZc0&t=5s" data-fancybox="video")
							img(src="img/icon/video.png", alt="")
						a.btn-view360(href="javascript:;" data-fancybox="view360" data-src="#view360")
							img(src="img/icon/view360.png", alt="")
						#view360
							.view360-popup
								img(src="img/view360.png", alt="")
			.col-12.col-lg-6
				section.product-info.clearfix.wow.fadeInRight
					.promotion.sale -20%
					h1.product-name Vali kéo Conwood
					.product-id ID: 1305301
					.product-brand Thương hiệu: 
						a(href="#!") Conwood
					.product-price.clearfix
						.new 7.990.000đ
						.old 10.000.000đ
					.product-option.clearfix
						.option-group
							.label Màu sắc:
							ul
								li
									a.active(href="#")
										.color
											span(style="background: blue")
								li
									a(href="#")
										.color
											span(style="background: red")
								li
									a.disabled(href="#")
										.color
											span(style="background: silver")
						.option-group
							.label Kích thước:
							ul
								li
									a.active(href="#")
										.size 26
								li
									a(href="#")
										.size 28
								li
									a.disabled(href="#")
										.size 30
					.product-gift
						.title Khuyến mãi áp dụng đến hết 30/11
						ul.gift-list
							li.gift Cơ hội trúng xe SH150i (áp dụng Tp.HCM). 
								a.link(href="#!") Chi tiết
							li.gift Phiếu mua hàng Samsung trị giá 250.000đ. 
								a.link(href="#!") Chi tiết
							.notice không áp dụng khi mua trả góp
					.product-amount
						.input-number
							.btn-spin.btn-dec -
							input(type="text" value="1")
							.btn-spin.btn-inc +
					.btn-wrap.clearfix
						a.btn-buy(href="#!") Đặt ngay
						a.btn-wishlist(href="#!" data-toggle="tooltip" data-placement="right" title="Yêu thích") <i class="fa fa-heart" aria-hidden="true"></i>
						a.buy-support(href="#!") Hướng dẫn mua hàng
					.product-overview.clearfix
						.content
							ul
								li Hỗ trợ trả góp 0%: 6 tháng, 12 tháng
								li Bảo hành chính hãng 36 tháng
								li Giao hàng tận nơi miễn phí trong 30 phút.
								li 1 đổi 1 trong 1 tháng với sản phẩm lỗi.
					.share
						.label Share:
						a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
			.col-12.col-lg-8
				section.product-description.clearfix
					#responsivetabs
						ul.tabs-list
							li.tab-item
								a(href='#tab-1') Mô tả chi tiết
							li.tab-item
								a(href='#tab-2') Thông số kỹ thuật
							//- li.tab-item
								a(href='#tab-3') Đánh giá
							li.tab-item
								a(href='#tab-4') Bình luận
						section#tab-1.tab-content
							.product-content
								.content
									p.text-center(style="font-size:18px") 
										strong ELLE EL31192 – PHONG CÁCH THỜI TRANG HÀO NHOÁNG
									p.text-center Họa tiết hình khối zigzag, phong cách hào nhoáng và đậm chất high-fashion, EL31192 đã đủ khiến bạn choáng ngợp chưa?
									figure
										img(src="img/product/img1.jpg", alt="")
									p Được đánh giá là một trong những tuyệt tác của thương hiệu Elle, EL31192 phát huy được những ưu điểm của thương hiệu Pháp này khi kết hợp hài hào giữa nét cổ điển và hiện đại. Ngoài ra, sản phẩm thu hút người nhìn bởi họa tiết zigzag hình khối, vân nổi sắp xếp hợp mắt người nhìn, tạo nên phong cách đậm chất thời trang hào nhoáng.
									figure
										img(src="img/product/img2.jpg", alt="")
									figure
										img(src="img/product/img3.jpg", alt="")
									figure
										img(src="img/product/img4.jpg", alt="")
									p Với các tính năng như độ đàn hồi cao, chống thấm nước, kháng tia UV, bền bỉ sau các va đập vật lý và hạn chế trầy xước từ bề mặt nhám mắt xích, chất liệu P.P của vali nhựa cứng kiến tạo nên sự hoàn hảo của EL31192, phù hợp với các tín đồ mê xê dịch lẫn yêu thời trang.
									figure
										img(src="img/product/img5.jpg", alt="")
									p Sản phẩm mới nhất của thương hiệu Elle cũng như những chiếc vali kéo 8 bánh khác, sử dụng bánh xe được sản xuất tại nhà máy Hinomoto Nhật Bản, vỏ bánh xe làm từ cao su thiên nhiên đúc nguyên khối, bao bọc khung lõi cốt thép kiên cố, hạn chế ma sát và tiếng ồn khi di chuyển.
									figure
										img(src="img/product/img6.jpg", alt="")
									p Thiết kế khoang chứa bên trong của vali kéo nhựa thương hiệu Elle rộng rãi, giúp bạn dễ dàng sắp xếp hành lý của mình một cách khoa học nhất. Cùng chất liệu vải dù (P.E) không thấm nước, lưới thoáng nhiệt giúp quần áo của bạn không bị ẩm mốc, vali trang bị ngăn kéo cơi nới tăng 25% thể tích.
									figure
										img(src="img/product/img7.jpg", alt="")
							.btn-wrap.text-center
								a.btn-viewmore(href="#!") Xem thêm
							.product
								figure
									a.product-img(href="#!")
										img(src="img/product/1.jpg", alt="")
									figcaption
										h3.product-name
											a(href="#") Vali kéo Conwood
										.product-size ID: 
											strong 1053407 
											|| Size: 24',25',27'
										.product-color
											.color(style='background: #5f5c5d')
											.color(style='background: #737fd3')
											.color(style='background: #6d5f97')
										.product-price.clearfix
											.old 3.900.000đ
											.new 1.830.000đ
										.btn-wrap
											a.btn-buy(href="#") Mua ngay
											a.btn-help(href="#!") Hướng dẫn mua hàng
						section#tab-2.tab-content
							.product-specification
								table.table
									tbody
										tr
											td Mã SP
											td PC118
										tr
											td Màu sắc
											td Blue Grey
										tr
											td Size
											td 28
										tr
											td Số ngăn
											td 3 ngăn
										tr
											td Kích thước
											td 76 x 54 x 29 cm
										tr
											td Trọng lượng
											td 4.3 kg
										tr
											td Bảo hành
											td Hư cần kéo, bánh xe, khoá kéo, ổ khoá, lỗi đứt chỉ và các lỗi kĩ thuật
						section#tab-3.tab-content
						section#tab-4.tab-content
							.fb-comment
								.text-center
									img(src="img/comment.jpg", alt="")
						.point-wrap
							.flex.flex-wrap.clearfix
								.point-average
									.module-title Đánh giá trung bình
									.point 4.0
									.favorite
										ul.star-list
											li.star.active 
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
											li.star.active 
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
											li.star.active 
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
											li.star.active 
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
											li.star
												a(href="#!") <i class="fa fa-star" aria-hidden="true"></i>
									.amount (10 đánh giá)
								.point-detail
									.point-row
										.level 5 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w50
										.status 50% Rất hài lòng
									.point-row
										.level 4 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w30
										.status 30% Hài lòng
									.point-row
										.level 3 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w20
										.status 20% Bình thường
									.point-row
										.level 2 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w0
										.status 0% Dưới trung bình
									.point-row
										.level 1 <i class="fa fa-star" aria-hidden="true"></i>
										.percen
											.current-percen.w0
										.status 0% Thất vọng
								.comment-input
									//- .form-group
										input(type="text", placeholder="Họ tên*")
									//- .form-group
										input(type="text", placeholder="Email")
									.form-group.w100
										textarea(name="", cols="30", rows="3", placeholder="Nội dung bình luận...")
									.btnwrap
										input(type="submit", value="Gửi bình luận")
			.col-12.col-lg-4
				section.product-news
					.title-wrap
						h4.module-title Tin khuyến mãi
						a.btn-viewmore(href="#!") Xem thêm
					.post-list
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Mẹo làm tuyết rơi ngay trên màn hình điện thoại để chào đón giáng sinh
									time 32 phút trước
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Top ứng dụng, game tính phí đang được FREE cho iPhone, iPad (13/12)
									time 32 phút trước
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") BGR: Face ID sẽ khiến những hãng khác phải học theo Apple một lần nữa
									time 32 phút trước
				section.product-news
					.title-wrap
						h4.module-title Tin mới
						a.btn-viewmore(href="#!") Xem thêm
					.post-list
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Mẹo làm tuyết rơi ngay trên màn hình điện thoại để chào đón giáng sinh
									time 32 phút trước
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Top ứng dụng, game tính phí đang được FREE cho iPhone, iPad (13/12)
									time 32 phút trước
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") BGR: Face ID sẽ khiến những hãng khác phải học theo Apple một lần nữa
									time 32 phút trước
				section.product-news
					.title-wrap
						h4.module-title Cẩm nang hành lý
						a.btn-viewmore(href="#!") Xem thêm
					.post-list
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Mẹo làm tuyết rơi ngay trên màn hình điện thoại để chào đón giáng sinh
									time 32 phút trước
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Top ứng dụng, game tính phí đang được FREE cho iPhone, iPad (13/12)
									time 32 phút trước
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") BGR: Face ID sẽ khiến những hãng khác phải học theo Apple một lần nữa
									time 32 phút trước
			.col-12
				section.product-other.clearfix
					.small-title.wow.fadeInUp Sản phẩm liên quan
					.other-slide.product-list
						- for (var i = 0; i < 10; ++i) {
							.item
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua ngay
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
						- }