section.breadcrumbwrap.clearfix
	.container
		ol.breadcrumb
			li 
				a(href="#")
					span Trang chủ
			li 
				a(href="#").active
					span Thương hiệu
.container
	//- .row
		//- .col-12.col-lg-8.col-xl-9
	section.brand-page
		h1.page-title Thương hiệu
		ul#myTab.nav.nav-tabs(role='tablist')
			li.nav-item
				a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true')  Vali
			li.nav-item
				a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Balo
			li.nav-item
				a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Phụ kiện
		#myTabContent.tab-content
			#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
				.brand-list
					.row
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/1.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/2.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/3.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/4.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/5.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/6.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/7.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/1.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/2.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/3.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/4.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/5.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/6.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/7.jpg", alt="")
			#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
				.brand-list
					.row
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/1.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/2.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/3.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/4.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/5.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/6.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/7.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/1.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/2.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/3.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/4.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/5.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/6.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/7.jpg", alt="")
			#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
				.brand-list
					.row
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/1.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/2.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/3.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/4.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/5.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/6.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/7.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/1.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/2.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/3.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/4.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/5.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/6.jpg", alt="")
						article.col-12.col-sm-6.col-md-4
							a.brand-logo(href="#!")
								img(src="img/brand/7.jpg", alt="")
		
//- .col-12.col-lg-4.col-xl-3
	nav.sidebrand-category
		.small-title Danh mục sản phẩm
		ul
			li
				a(href="#!") Vali
			li
				a(href="#!") Balo
			li
				a(href="#!") Phụ kiện