section.breadcrumbwrap.clearfix
	.container
		ol.breadcrumb
			li 
				a(href="#")
					span Trang chủ
			li 
				a(href="#").active
					span Tìm kiếm
section.search-page.clearfix
	.container
		.searchheading
			h1 Tìm thấy <strong>11.819</strong> kết quả phù hợp với từ khóa <strong>"samsung"</strong> trong đó có:
		.row
			.col-12.col-xl-8
				.search-result
					.result-title 1.395 sản phẩm
					.product-list
						.row.no-gutters
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
							article.col-12.col-md-4.col-lg-3
								.product-card
									figure
										.detail-popup
											.promotion.tragop Trả góp 0%
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											a.product-detail(href="#!")
												//- .popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
												span Màn hình: 6.2, Quad HD (2K)
												span HĐH: Android 7.0
												span CPU: Exynos 8895 8 nhân
												span RAM: 4 GB, ROM: 64 GB
												span Camera: 12 MP, Selfie: 8 MP
												span PIN: 3500 mAh
											a.btn-compare(href="#!") So sánh
										.btn-wrap
											a.btn-buy(href="#!") Mua hàng
										a.product-img(href="#!")
											img(src="img/product/pr1.jpg", alt="")
										figcaption
											.promotion.moi Mới ra mắt
											h3.product-name
												a(href="#!") Vali nhựa ABC 38 inch
											.product-price 
												span.new 20.490.000₫
											.product-detail
												.popup-promotion
													ul
														li Cơ hội trúng xe SH 150i (áp dụng Hà Nội và một số tỉnh miền Bắc).
														li Bao da Clear View HOẶC Kính thực tế ảo Samsung Gear VR HOẶC Máy xay sinh tố Philips HR2108
					.btn-wrap
						a.btn-loadmore(href="#!") Xem thêm
			.col-12.col-xl-4
				.sidebar-product
					.result-title 1.395 sản phẩm liên quan
					.products
						.product
							figure
								a.product-img(href="#!")
									img(src="img/product/pr1.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Vali nhựa ABC 38 inch
									.product-price 
										span.new 20.490.000₫
										span.old 23.490.000₫
						.product
							figure
								a.product-img(href="#!")
									img(src="img/product/pr1.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Vali nhựa ABC 38 inch
									.product-price 
										span.new 20.490.000₫
										span.old 23.490.000₫
						.product
							figure
								a.product-img(href="#!")
									img(src="img/product/pr1.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Vali nhựa ABC 38 inch
									.product-price 
										span.new 20.490.000₫
										span.old 23.490.000₫
						.product
							figure
								a.product-img(href="#!")
									img(src="img/product/pr1.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Vali nhựa ABC 38 inch
									.product-price 
										span.new 20.490.000₫
										span.old 23.490.000₫
						.product
							figure
								a.product-img(href="#!")
									img(src="img/product/pr1.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Vali nhựa ABC 38 inch
									.product-price 
										span.new 20.490.000₫
										span.old 23.490.000₫
						.product
							figure
								a.product-img(href="#!")
									img(src="img/product/pr1.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Vali nhựa ABC 38 inch
									.product-price 
										span.new 20.490.000₫
										span.old 23.490.000₫
					.btn-wrap
						a.btn-loadmore(href="#!") Xem thêm sản phẩm
				.sidebar-news
					.result-title 1.395 tin liên quan
					.post-list
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Mẹo làm tuyết rơi ngay trên màn hình điện thoại để chào đón giáng sinh
									time 32 phút trước
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Top ứng dụng, game tính phí đang được FREE cho iPhone, iPad (13/12)
									time 32 phút trước
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/pr3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") BGR: Face ID sẽ khiến những hãng khác phải học theo Apple một lần nữa
									time 32 phút trước
					.btn-wrap
						a.btn-loadmore(href="#!") Xem thêm tin tức