section.col-left.filter-col.clearfix.wow.fadeInLeft
	.filter-wrap.category-group.clearfix
		.filter-group.clearfix
			.filter-title 
				span Danh mục sản phẩm
				//- .btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-category.clearfix
					ul
						li.hassub.active
							a(href="#") Vali
							.btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul 
									li.active
										a(href="#") Vali cứng
									li 
										a(href="#") Vali mềm
									li 
										a(href="#") Vali doanh nhân
									li 
										a(href="#") Văn phòng di động
									li 
										a(href="#") Cặp kéo
									li 
										a(href="#") Vali hai bánh
						li.hassub
							a(href="#") Balo
							.btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul 
									li 
										a(href="#") BA LÔ DOANH NHÂN
									li 
										a(href="#") TẤT CẢ
									li 
										a(href="#") TRẺ EM
									li 
										a(href="#") DU LỊCH
									li 
										a(href="#") BA LÔ CHÉO
									li 
										a(href="#") BA LÔ KÉO
									li 
										a(href="#") BA LÔ LAPTOP
									li 
										a(href="#") KIDS
						li.hassub
							a(href="#") Túi xách
							.btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul 
									li 
										a(href="#") TÚI XÁCH THỜI TRANG
									li 
										a(href="#") TÚI XÁCH NAM
									li 
										a(href="#") TÚI XÁCH NỮ
									li 
										a(href="#") TÚI IPAD-IPHONE
									li 
										a(href="#") TÚI DU LỊCH THỂ THAO
									li 
										a(href="#") TÚI DOANH NHÂN
									li 
										a(href="#") TÚI ĐỰNG LAPTOP
									li 
										a(href="#") TÚI UNISEX
						li.hassub
							a(href="#") Phụ kiện
							.btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul 
									li 
										a(href="#") VÍ
									li 
										a(href="#") GỐI
									li 
										a(href="#") DÂY ĐAI
									li 
										a(href="#") BAO TRÙM VALI
									li 
										a(href="#") ADAPTER
									li 
										a(href="#") TÚI LAPTOP
									li 
										a(href="#") TÚI MỸ PHẨM
									li 
										a(href="#") TÚI CÁ NHÂN
									li 
										a(href="#") DÙ
									li 
										a(href="#") KHÓA
									li 
										a(href="#") TÚI PASSPORT
									li 
										a(href="#") TÚI ĐA NĂNG
									li 
										a(href="#") CÂN
									li 
										a(href="#") TÚI ĐEO HÔNG
									li 
										a(href="#") BỊT MẮT
									li 
										a(href="#") THẺ BẢNG TÊN
		.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
	.filter-wrap.option-group.clearfix
		.filter-group.clearfix
			.filter-title 
				span Nổi bật
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.brand-category
					ul
						li
							a.active(href="#") Khuyến mãi
						li
							a(href="#") Sản phẩm mới về
						li
							a(href="#") Sản phẩm bán chạy
		.filter-group.clearfix
			.filter-title 
				span Kích cỡ
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.brand-category
					ul
						li 
							a(href="#") Xách tay (cabin)
						li
							a.active(href="#") Trung
						li 
							a(href="#") Đại
						li
							a.active(href="#") Freesize
		.filter-group.clearfix
			.filter-title
				span Màu sắc
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				ul.color-picker
					li.color
						a.active(href="#!")
							.color-img(style='background-color:#000')
							.color-name Đen
					li.color
						a.active(href="#!")
							.color-img(style='background-color:#0000CC')
							.color-name Xanh dương
					li.color
						a(href="#!")
							.color-img(style='background-color:#8B8994')
							.color-name Xám
					li.color
						a(href="#!")
							.color-img(style='background-color:#CC0033')
							.color-name Đỏ
					li.color
						a(href="#!")
							.color-img(style='background-color:#fff')
							.color-name Trắng
					li.color
						a.active(href="#!")
							.color-img(style='background-color:#ff0')
							.color-name Vàng
					li.color
						a(href="#!")
							.color-img(style='background-color:#5A5653')
							.color-name Khác

		.filter-group.clearfix
			.filter-title 
				span Khoảng giá
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				.price-select
					select
						option -- Lọc khoảng giá --
						option 0 - 1 triệu
						option 2 triệu - 3 triệu
						option 3 triệu - 5 triệu
						option 5 triệu - 7 triệu
						option 7 triệu - 10 triệu
						option 10 triệu - 15 triệu
			//- .filter-option.clearfix
				.filter-range
					#slider-range.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled='false')
						.ui-slider-range.ui-widget-header.ui-corner-all(style='left: 0%; width: 100%;')
						a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 0%;')
						a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 100%;')
					.price-range
						| Giá từ
						.sliderValue.min-input(data-index='0') 0
						| đến
						.sliderValue.max-input(data-index='1') 10.000.000
					.hidden
						a.urlwithoutprice(href='#')
						a.urlwithprice(href='#')
						a.pricemin
						a.pricemax
		.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
