
footer
	section.subscribe-section.clearfix
		.container
			.row.flex.flex-wrap
				.col-12.col-lg-8.col-xl-9
					.subscribefrm
						.module-title Đăng ký nhận email khuyến mãi
						.subscribe
							input(type="text")
							button.subscribebutton Gửi
				.col-12.col-lg-4.col-xl-3
					.social
						.label Follow
						a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
	section.footer-category.clearfix
		.container
			.row.flex.flex-wrap
				article.col-12.col-sm-6.col-lg-3
					.category-col
						figure
							a.category-img
								img(src="img/footer/icon1.png", alt="alt")
							figcaption 
								h3.category-name
									a(href="#") Về LUG
								.category-des Lug.vn là một website bán vali hàng đầu thế giới.
				article.col-12.col-sm-6.col-lg-3
					.category-col
						figure
							a.category-img
								img(src="img/footer/icon2.png", alt="alt")
							figcaption 
								h3.category-name
									a(href="#") Gửi câu hỏi của bạn
								.category-des Bất chấp những thắc mắc của bạn chúng đôi đêu có thể giải đáp.
				article.col-12.col-sm-6.col-lg-3
					.category-col
						figure
							a.category-img
								img(src="img/footer/icon3.png", alt="alt")
							figcaption 
								h3.category-name
									a(href="#") Thành viên lug.vn
								.category-des Thành viên của LUG.VN sẽ được hưởng thụ nhiều ưu đãi vô cùng hấp dẫn
				article.col-12.col-sm-6.col-lg-3
					.category-col
						figure
							a.category-img
								img(src="img/footer/icon4.png", alt="alt")
							figcaption 
								h3.category-name
									a(href="#") Cửa hàng & địa điểm
								.category-des Hệ thống hơn 200 cửa hàng trên toàn quốc và chi nhánh một số nước lân cận như Lào, Campuchia...
	section.footer-bottom.clearfix
		.col-12.col-sm-4.col-lg-2.col-xl-2
			.footer-col
				.title THÔNG TIN liên hệ
				.footer-link
					ul 
						li 
							a(href="#") Giới thiệu
						li 
							a(href="#") Liên hệ
						li 
							a(href="#") Tuyển dụng
						li 
							a(href="#") Tin tức
						li 
							a(href="#") Site Map
		.col-12.col-sm-4.col-lg-3.col-xl-3
			.footer-col
				.title HỖ TRỢ KHÁCH HÀNG
				.footer-link
					ul 
						li 
							a(href="#") Chính sách bảo hành
						li 
							a(href="#") Chính sách đổi trả hàng
						li 
							a(href="#") Phương thức đặt hàng
						li 
							a(href="#") Hướng dẫn nhận ưu đãi giảm giá
						li 
							a(href="#") Phương thức giao hàng và thanh toán
		.col-12.col-sm-4.col-lg-2.col-xl-2
			.footer-col
				.title đường dây nóng
				.hotline Bán hàng (8:30 - 21:30)
					a.phone(href="tel:18001162") 1800 1162
				.hotline Góp ý, khiếu nại (8:30 - 17:30)
					a.phone(href="tel:18001160") 1800 1160
		.col-12.col-sm-6.col-lg-3.col-xl-3
			.footer-col
				.title Chứng nhận thanh toán
				.payment
					img(src="img/payment.png", alt="")
				.title Đối tác vận chuyển
				.partner
					img(src="img/vnpost.png", alt="")
					img(src="img/ghn.png", alt="")
		.col-12.col-sm-4.col-lg-2.col-xl-2
			.footer-col
				.title Chứng nhận an toàn
				.bct
					img(src="img/bct.png", alt="")

.btn-up <i class="fa fa-arrow-up" aria-hidden="true"></i>