.landing-header.clearfix
	.header-top.clearfix
		.container
			h1.landing-product-name 
				a(href="#!") VALI KÉO ELLE EL31192_28"
			.col-right
				.btn-wrap
					a.btn-buy(href="#!") Mua ngay
	nav.landing-menu.clearfix
		.container
			ul.menu-link
				li
					a(href="#landing-0" rel='m_PageScroll2id2') Sản phẩm
				li
					a(href="#landing-1" rel='m_PageScroll2id2') Mô tả
				li
					a(href="#landing-2" rel='m_PageScroll2id2') Thông số
				li
					a(href="#landing-3" rel='m_PageScroll2id2') Tính năng
				li
					a(href="#landing-4" rel='m_PageScroll2id2') Đánh giá & Bình luận